<div class="gridcontainer font">
      <div class="contactList background">
          <div class="celroja">
              <div class="messagesTitle">Messages</div>
              <div id="forSearchInput">
                <div>
                  <div class="form-group col-md-12">

                  </div>
                </div>
                <div class="searchContainer"><img class="searchIcon" src="<%= image_path('Icons/search.png')  %>"></div>
                <%= form_for_filterrific @filterrific do |f| %>
                  <div class="searchContainer">
                    <%= f.text_field(
                      :search_query,
                      class: 'filterrific-periodically-observed searchInput',
                      placeholder: 'Search'
                    ) %>
                  </div>
                <% end %>
              </div>
          </div
          <div class="chats">
            <%= render(
              partial: 'messages/list',
              locals: { users: @users }
            ) %>
          </div>
           <div class="celdaroja chat background">
              <div class="chatHeader">
              </div>
              <div class="card-body msg_card_body">
                  <h5 class="notSelectedTitle">You don't have a message selected</h5>
                  <p class="notSelectedText">Choose one from your existing messages</p>
                  <img class="imgYet" src="<%= image_path('Icons/yet.png') %>" >
                </div>
                <div class="inputChat">

                </div>
          </div>
      </div>

</div>
