<div class="gridcontainer font">        
                    <div class="contactList background">
                        <div class="celroja">
                            <div class="messagesTitle">Messages</div>
                            <div class="celverde" id="forSearchInput">
                              <div>
                                <div class="form-group col-md-12">
                                  
                                </div>                              
                              </div>
                              <div class="searchContainer"><img class="searchIcon" src="<%= image_path('Icons/search.png')  %>"></div>
                              <div class="searchContainer"><input type="text" placeholder="Search" class="searchInput background"></div>              
                            </div>
                        </div>
                        <div class="chats">
                            <div class="contactCard">
                              <div class="celroja gridContact">                
                                <div class="picture"><img src="<%= image_path('People/asian-square.jpg')  %>" class="profilePic"></div>              
                                <div class="contactLabel"><div id="forName">Name</div></div>
                                <div class="contactLabel"><div id="forDate">02 Feb</div></div>                            
                                <div class="contactLabel"><div id="forHobby">Hobby</div></div>
                                <div class="notification"><div class="redCircle">3</div></div>
                              </div>
                            </div>                      
                            <div class="contactCard">
                              <div class="celroja gridContact">                
                                <div class="picture"><img src="<%= image_path('People/asian-square.jpg')  %>" class="profilePic"></div>              
                                <div class="contactLabel"><div id="forName">Name</div></div>
                                <div class="contactLabel"><div id="forDate">02 Feb</div></div>                            
                                <div class="contactLabel"><div id="forHobby">Hobby</div></div>
                                <div class="notification"><div class="redCircle">5</div></div>
                              </div>
                            </div>                      
                            <div class="contactCard">
                              <div class="celroja gridContact">                
                                <div class="picture"><img src="<%= image_path('People/asian-square.jpg')  %>" class="profilePic"></div>              
                                <div class="contactLabel"><div id="forName">Name</div></div>
                                <div class="contactLabel"><div id="forDate">02 Feb</div></div>                            
                                <div class="contactLabel"><div id="forHobby">Hobby</div></div>
                                <div class="notification"><div class="redCircle">1</div></div>
                              </div>
                            </div>                      
                            <div class="contactCard">
                              <div class="celroja gridContact active">                
                                <div class="picture"><img src="<%= image_path('People/asian-square.jpg')  %>" class="profilePic"></div>              
                                <div class="contactLabel"><div id="forName">Name</div></div>
                                <div class="contactLabel"><div id="forDate">02 Feb</div></div>                            
                                <div class="contactLabel"><div id="forHobby">Hobby</div></div>
                                <div class="celverde"></div>
                              </div>
                            </div>                      
                            <div class="contactCard">
                              <div class="celroja gridContact">                
                                <div class="picture"><img src="<%= image_path('People/asian-square.jpg')  %>" class="profilePic"></div>              
                                <div class="contactLabel"><div id="forName">Name</div></div>
                                <div class="contactLabel"><div id="forDate">02 Feb</div></div>                            
                                <div class="contactLabel"><div id="forHobby">Hobby</div></div>
                                <div class="celverde"></div>
                              </div>
                            </div>                      
                            <div class="contactCard">
                              <div class="celroja gridContact">                
                                <div class="picture"><img src="<%= image_path('People/asian-square.jpg')  %>" class="profilePic"></div>              
                                <div class="contactLabel"><div id="forName">Name</div></div>
                                <div class="contactLabel"><div id="forDate">02 Feb</div></div>                            
                                <div class="contactLabel"><div id="forHobby">Hobby</div></div>
                                <div class="celverde"></div>
                              </div>
                            </div>                      
                            <div class="contactCard">
                              <div class="celroja gridContact">                
                                <div class="picture"><img src="<%= image_path('People/asian-square.jpg')  %>" class="profilePic"></div>              
                                <div class="contactLabel"><div id="forName">Name</div></div>
                                <div class="contactLabel"><div id="forDate">02 Feb</div></div>                            
                                <div class="contactLabel"><div id="forHobby">Hobby</div></div>
                                <div class="celverde"></div>
                              </div>
                            </div>                      
                            <div class="contactCard">
                              <div class="celroja gridContact">                
                                <div class="picture"><img src="<%= image_path('People/asian-square.jpg')  %>" class="profilePic"></div>              
                                <div class="contactLabel"><div id="forName">Name</div></div>
                                <div class="contactLabel"><div id="forDate">02 Feb</div></div>                            
                                <div class="contactLabel"><div id="forHobby">Hobby</div></div>
                                <div class="celverde"></div>
                              </div>
                            </div>                      
                            <div class="contactCard">
                              <div class="celroja gridContact">                
                                <div class="picture"><img src="<%= image_path('People/asian-square.jpg')  %>" class="profilePic"></div>              
                                <div class="contactLabel"><div id="forName">Name</div></div>
                                <div class="contactLabel"><div id="forDate">02 Feb</div></div>                            
                                <div class="contactLabel"><div id="forHobby">Hobby</div></div>
                                <div class="celverde"></div>
                              </div>
                            </div>                      
                            <div class="contactCard">
                              <div class="celroja gridContact">                
                                <div class="picture"><img src="<%= image_path('People/asian-square.jpg')  %>" class="profilePic"></div>              
                                <div class="contactLabel"><div id="forName">Name</div></div>
                                <div class="contactLabel"><div id="forDate">02 Feb</div></div>                            
                                <div class="contactLabel"><div id="forHobby">Hobby</div></div>
                                <div class="celverde"></div>
                              </div>
                            </div> 
                            <div class="contactCard">
                              <div class="celroja gridContact">                
                                <div class="picture"><img src="<%= image_path('People/asian-square.jpg')  %>" class="profilePic"></div>              
                                <div class="contactLabel"><div id="forName">Name</div></div>
                                <div class="contactLabel"><div id="forDate">02 Feb</div></div>                            
                                <div class="contactLabel"><div id="forHobby">Hobby</div></div>
                                <div class="celverde"></div>
                              </div>
                            </div> 
                            <div class="contactCard">
                              <div class="celroja gridContact">                
                                <div class="picture"><img src="<%= image_path('People/asian-square.jpg')  %>" class="profilePic"></div>              
                                <div class="contactLabel"><div id="forName">Name</div></div>
                                <div class="contactLabel"><div id="forDate">02 Feb</div></div>                            
                                <div class="contactLabel"><div id="forHobby">Hobby</div></div>
                                <div class="celverde"></div>
                              </div>
                            </div> 
                            <div class="contactCard">
                              <div class="celroja gridContact">                
                                <div class="picture"><img src="<%= image_path('People/asian-square.jpg')  %>" class="profilePic"></div>              
                                <div class="contactLabel"><div id="forName">Name</div></div>
                                <div class="contactLabel"><div id="forDate">02 Feb</div></div>                            
                                <div class="contactLabel"><div id="forHobby">Hobby</div></div>
                                <div class="celverde"></div>
                              </div>
                            </div> 
                            <div class="contactCard">
                              <div class="celroja gridContact">                
                                <div class="picture"><img src="<%= image_path('People/asian-square.jpg')  %>" class="profilePic"></div>              
                                <div class="contactLabel"><div id="forName">Name</div></div>
                                <div class="contactLabel"><div id="forDate">02 Feb</div></div>                            
                                <div class="contactLabel"><div id="forHobby">Hobby</div></div>
                                <div class="celverde"></div>
                              </div>
                            </div> 
                            <div class="contactCard">
                              <div class="celroja gridContact">                
                                <div class="picture"><img src="<%= image_path('People/asian-square.jpg')  %>" class="profilePic"></div>              
                                <div class="contactLabel"><div id="forName">Name</div></div>
                                <div class="contactLabel"><div id="forDate">02 Feb</div></div>                            
                                <div class="contactLabel"><div id="forHobby">Hobby</div></div>
                                <div class="celverde"></div>
                              </div>
                            </div> 
                            <div class="contactCard">
                              <div class="celroja gridContact">                
                                <div class="picture"><img src="<%= image_path('People/asian-square.jpg')  %>" class="profilePic"></div>              
                                <div class="contactLabel"><div id="forName">Name</div></div>
                                <div class="contactLabel"><div id="forDate">02 Feb</div></div>                            
                                <div class="contactLabel"><div id="forHobby">Hobby</div></div>
                                <div class="celverde"></div>
                              </div>
                            </div> 
                            <div class="contactCard">
                              <div class="celroja gridContact">                
                                <div class="picture"><img src="<%= image_path('People/asian-square.jpg')  %>" class="profilePic"></div>              
                                <div class="contactLabel"><div id="forName">Name</div></div>
                                <div class="contactLabel"><div id="forDate">02 Feb</div></div>                            
                                <div class="contactLabel"><div id="forHobby">Hobby</div></div>
                                <div class="celverde"></div>
                              </div>
                            </div> 
                        </div>
                    </div>
                    <div class="celdaroja chat background">
                        <div class="chatHeader">
                            <div id="forChatHeader">
                                <i id="chatIcon" class="material-icons">keyboard_arrow_left</i>
                                <div class="chatTitle">Guitar</div>
                                <div class="chatSub">From: Hali</div>
                            </div>                                
                        </div>
                        <div class="card-body msg_card_body">
                            <div class="d-flex justify-content-start mb-4">
                              <div class="img_cont_msg">
                                <img src="https://www.khaama.com/wp-content/uploads/2019/02/Afghan-Singer-Ghawgha-Taban-880x672-880x672.jpg" class="rounded-circle user_img_msg">
                              </div>
                              <div class="msg_cotainer">
                                Hi, how are you samim?
                                <span class="msg_time">8:40 AM, Today</span>
                              </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                              <div class="msg_cotainer_send">
                                I love 1Oh1, I've learned so many things for free!
                                <span class="msg_time_send">8:55 AM, Today</span>
                              </div>
                              <div class="img_cont_msg">
                              </div>
                            </div>
                            <div class="d-flex justify-content-start mb-4">
                              <div class="img_cont_msg">
                                <img src="https://www.khaama.com/wp-content/uploads/2019/02/Afghan-Singer-Ghawgha-Taban-880x672-880x672.jpg" class="rounded-circle user_img_msg">
                              </div>
                              <div class="msg_cotainer">
                                I am good too, thank you for your time and knowledge!
                                <span class="msg_time">9:00 AM, Today</span>
                              </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                              <div class="msg_cotainer_send">
                                You welcome Maryam
                                <span class="msg_time_send">9:05 AM, Today</span>
                              </div>
                              <div class="img_cont_msg">
                            
                              </div>
                            </div>
                            <div class="d-flex justify-content-start mb-4">
                              <div class="img_cont_msg">
                                <img src="https://www.khaama.com/wp-content/uploads/2019/02/Afghan-Singer-Ghawgha-Taban-880x672-880x672.jpg" class="rounded-circle user_img_msg">
                              </div>
                              <div class="msg_cotainer">
                                I am looking forward for our next lesson
                                <span class="msg_time">9:07 AM, Today</span>
                              </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                              <div class="msg_cotainer_send">
                                Ok, thank you have a good day
                                <span class="msg_time_send">9:10 AM, Today</span>
                              </div>
                              <div class="img_cont_msg">
                          
                              </div>
                            </div>
                            <div class="d-flex justify-content-start mb-4">
                              <div class="img_cont_msg">
                                <img src="https://www.khaama.com/wp-content/uploads/2019/02/Afghan-Singer-Ghawgha-Taban-880x672-880x672.jpg" class="rounded-circle user_img_msg">
                              </div>
                              <div class="msg_cotainer">
                                Bye, see you
                                <span class="msg_time">9:12 AM, Today</span>
                              </div>
                            </div>
                            <div class="d-flex justify-content-start mb-4">
                              <div class="img_cont_msg">
                                <img src="https://www.khaama.com/wp-content/uploads/2019/02/Afghan-Singer-Ghawgha-Taban-880x672-880x672.jpg" class="rounded-circle user_img_msg">
                              </div>
                              <div class="msg_cotainer">
                                Hi, how are you samim?
                                <span class="msg_time">8:40 AM, Today</span>
                              </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                              <div class="msg_cotainer_send">
                                Hi Maryam i am good tnx how about you?
                                <span class="msg_time_send">8:55 AM, Today</span>
                              </div>
                              <div class="img_cont_msg">
                              </div>
                            </div>
                            <div class="d-flex justify-content-start mb-4">
                              <div class="img_cont_msg">
                                <img src="https://www.khaama.com/wp-content/uploads/2019/02/Afghan-Singer-Ghawgha-Taban-880x672-880x672.jpg" class="rounded-circle user_img_msg">
                              </div>
                              <div class="msg_cotainer">
                                I am good too, thank you for your time and knowledge!
                                <span class="msg_time">9:00 AM, Today</span>
                              </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                              <div class="msg_cotainer_send">
                                You welcome Maryam
                                <span class="msg_time_send">9:05 AM, Today</span>
                              </div>
                              <div class="img_cont_msg">
                            
                              </div>
                            </div>
                            <div class="d-flex justify-content-start mb-4">
                              <div class="img_cont_msg">
                                <img src="https://www.khaama.com/wp-content/uploads/2019/02/Afghan-Singer-Ghawgha-Taban-880x672-880x672.jpg" class="rounded-circle user_img_msg">
                              </div>
                              <div class="msg_cotainer">
                                I am looking forward for our next lesson
                                <span class="msg_time">9:07 AM, Today</span>
                              </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                              <div class="msg_cotainer_send">
                                Ok, thank you have a good day
                                <span class="msg_time_send">9:10 AM, Today</span>
                              </div>
                              <div class="img_cont_msg">
                          
                              </div>
                            </div>
                            <div class="d-flex justify-content-start mb-4">
                              <div class="img_cont_msg">
                                <img src="https://www.khaama.com/wp-content/uploads/2019/02/Afghan-Singer-Ghawgha-Taban-880x672-880x672.jpg" class="rounded-circle user_img_msg">
                              </div>
                              <div class="msg_cotainer">
                                Bye, see you
                                <span class="msg_time">9:12 AM, Today</span>
                              </div>
                            </div>
                            <div class="d-flex justify-content-start mb-4">
                              <div class="img_cont_msg">
                                <img src="https://www.khaama.com/wp-content/uploads/2019/02/Afghan-Singer-Ghawgha-Taban-880x672-880x672.jpg" class="rounded-circle user_img_msg">
                              </div>
                              <div class="msg_cotainer">
                                Hi, how are you samim?
                                <span class="msg_time">8:40 AM, Today</span>
                              </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                              <div class="msg_cotainer_send">
                                Hi Maryam i am good tnx how about you?
                                <span class="msg_time_send">8:55 AM, Today</span>
                              </div>
                              <div class="img_cont_msg">
                              </div>
                            </div>
                            <div class="d-flex justify-content-start mb-4">
                              <div class="img_cont_msg">
                                <img src="https://www.khaama.com/wp-content/uploads/2019/02/Afghan-Singer-Ghawgha-Taban-880x672-880x672.jpg" class="rounded-circle user_img_msg">
                              </div>
                              <div class="msg_cotainer">
                                I am good too, thank you for your time and knowledge!
                                <span class="msg_time">9:00 AM, Today</span>
                              </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                              <div class="msg_cotainer_send">
                                You welcome Maryam
                                <span class="msg_time_send">9:05 AM, Today</span>
                              </div>
                              <div class="img_cont_msg">
                            
                              </div>
                            </div>
                            <div class="d-flex justify-content-start mb-4">
                              <div class="img_cont_msg">
                                <img src="https://www.khaama.com/wp-content/uploads/2019/02/Afghan-Singer-Ghawgha-Taban-880x672-880x672.jpg" class="rounded-circle user_img_msg">
                              </div>
                              <div class="msg_cotainer">
                                I am looking forward for our next lesson
                                <span class="msg_time">9:07 AM, Today</span>
                              </div>
                            </div>
                            <div class="d-flex justify-content-end mb-4">
                              <div class="msg_cotainer_send">
                                Ok, thank you have a good day
                                <span class="msg_time_send">9:10 AM, Today</span>
                              </div>
                              <div class="img_cont_msg">
                          
                              </div>
                            </div>
                            <div class="d-flex justify-content-start mb-4">
                              <div class="img_cont_msg">
                                <img src="https://www.khaama.com/wp-content/uploads/2019/02/Afghan-Singer-Ghawgha-Taban-880x672-880x672.jpg" class="rounded-circle user_img_msg">
                              </div>
                              <div class="msg_cotainer">
                                Bye, see you
                                <span class="msg_time">9:12 AM, Today</span>
                              </div>
                            </div>
                          </div>
                          <div class="inputChat">
                            <input id="forInputChat" placeholder="Type a message..." type="text">
                            <a class="attach" href="#">
                                <img class="attachIcon" src="<%= image_path('Icons/attach.png') %>">
                            </a>
                            <a class="send" href="#">
                                <img class="sendIcon" src="<%= image_path('Icons/send.png')  %>">
                            </a>
                          </div>                              
                    </div>
            </div>