<div class="modal fade" id="categoriesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Interests</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modalCategories redcel">
          <div class="addInterests redcel">
            <div class="title boldText redcel">
              Add an interest
            </div>
            <div class="redcel">
            </div>
            <div class="inputContainer redcel">
              <input placeholder="Electric cars, oil painting, guitar..." type="text" name="searchInput" class="oh1SearchInput">
              <img class="inputRightIcon" src="<%= image_path('Icons/search.png')  %>">
            </div>
            <div class="newCategoryMessage boldText redcel">
              Can't find a category? <span data-toggle="modal" data-target="#newCategoryModal" class="createCategory boldText"> Create a new category.</span>
            </div>
          </div>
          <div class="title boldText redcel" id="yourInterests">
            Your interests
          </div>
          <div class="categoriesGrid redcel">
            <div class="categoryCard redcel">
              <img class="categoryPicture" src="<%= image_path('Skills/art-1281459_1280.jpg')  %>">
              <i class="material-icons pendingIcon">access_time</i>
              <div class="categoryFooter">
                <div class="categoryName boldText">
                  Game design
                </div>
                <i class="material-icons removeIcon">delete</i>
              </div>
            </div>
            <div class="categoryCard redcel">
              <img class="categoryPicture" src="<%= image_path('Skills/art-1281459_1280.jpg')  %>">
              <i class="material-icons pendingIcon">access_time</i>
              <div class="categoryFooter">
                <div class="categoryName boldText">
                  Game design
                </div>
                <i class="material-icons removeIcon">delete</i>
              </div>
            </div>
            <div class="categoryCard redcel">
              <img class="categoryPicture" src="<%= image_path('Skills/art-1281459_1280.jpg')  %>">
              <i class="material-icons pendingIcon">access_time</i>
              <div class="categoryFooter">
                <div class="categoryName boldText">
                  Game design
                </div>
                <i class="material-icons removeIcon">delete</i>
              </div>
            </div>
            <div class="categoryCard redcel">
              <img class="categoryPicture" src="<%= image_path('Skills/art-1281459_1280.jpg')  %>">
              <i class="material-icons pendingIcon">access_time</i>
              <div class="categoryFooter">
                <div class="categoryName boldText">
                  Game design
                </div>
                <i class="material-icons removeIcon">delete</i>
              </div>
            </div>
            <div class="categoryCard redcel">
              <img class="categoryPicture" src="<%= image_path('Skills/art-1281459_1280.jpg')  %>">
              <i class="material-icons pendingIcon">access_time</i>
              <div class="categoryFooter">
                <div class="categoryName boldText">
                  Game design
                </div>
                <i class="material-icons removeIcon">delete</i>
              </div>
            </div>
            <div class="categoryCard redcel">
              <img class="categoryPicture" src="<%= image_path('Skills/art-1281459_1280.jpg')  %>">
              <i class="material-icons pendingIcon">access_time</i>
              <div class="categoryFooter">
                <div class="categoryName boldText">
                  Game design
                </div>
                <i class="material-icons removeIcon">delete</i>
              </div>
            </div>
            <div class="categoryCard redcel">
              <img class="categoryPicture" src="<%= image_path('Skills/art-1281459_1280.jpg')  %>">
              <i class="material-icons pendingIcon">access_time</i>
              <div class="categoryFooter">
                <div class="categoryName boldText">
                  Game design
                </div>
                <i class="material-icons removeIcon">delete</i>
              </div>
            </div>
            <div class="categoryCard redcel">
              <img class="categoryPicture" src="<%= image_path('Skills/art-1281459_1280.jpg')  %>">
              <i class="material-icons pendingIcon">access_time</i>
              <div class="categoryFooter">
                <div class="categoryName boldText">
                  Game design
                </div>
                <i class="material-icons removeIcon">delete</i>
              </div>
            </div>
            <div class="categoryCard redcel">
              <img class="categoryPicture" src="<%= image_path('Skills/art-1281459_1280.jpg')  %>">
              <i class="material-icons pendingIcon">access_time</i>
              <div class="categoryFooter">
                <div class="categoryName boldText">
                  Game design
                </div>
                <i class="material-icons removeIcon">delete</i>
              </div>
            </div>
            <div class="categoryCard redcel">
              <img class="categoryPicture" src="<%= image_path('Skills/art-1281459_1280.jpg')  %>">
              <i class="material-icons pendingIcon">access_time</i>
              <div class="categoryFooter">
                <div class="categoryName boldText">
                  Game design
                </div>
                <i class="material-icons removeIcon">delete</i>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
