<div class="modal fade" id="createProjectsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= form_tag( {:controller=>"projects", :action => :create }, { :method => :post,remote: true ,:id => 'create_project' }) do %>
        <div class="modal-header">
          <h5 class="modal-title">Create Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bodyEditProject" >
          <!-- Project Title -->
          <div class="form-group m-3">
            <label>Project Title</label>
            <%= text_field_tag :name,nil,class: 'form-control', placeholder: "Name",:required => true %>
          </div>

          <!-- Description -->
          <div class="form-group m-3">
            <label>Description</label>
            <%= text_area_tag :description,nil,class: 'form-control', placeholder: "Describe It",:required => true, rows: "3" %>
          </div>

          <img class="projectPhotoPreview" src=""></img>

          <!-- Project Image -->
          <div class="form-group m-3">
            <label for="projectphoto">Project Image</label>
            <div class="custom-file">
              <%= file_field_tag :projectphoto,
                  class: 'custom-file-label',
                  id: "projectphoto" %>
              <label class="custom-file-label" for="projectphoto">Project Image...</label>

              <i style="display:none;position: absolute;left: 100px;top: -33px;" class="material-icons" id="loaderimage">autorenew</i>
              <i style="display:none;position: absolute;left: 100px;top: -33px;color: green !important;" class="material-icons" id="check">done</i>
            </div>
          </div>

          <!-- Creator -->
          <div class="m-3">
            <span class="fsz-13">Creator</span>
            <div class="mt-2">
              <img class="rounded-circle"
                 width="70px"
                 height="70px"
                 src="<%= image_path ('People/asian-square.jpg') %>">
              <span class="c-black fw-500 ml-2"><%= current_user.firstname%> <%= current_user.lastname%></span>
            </div>
          </div>

          <!-- Collaborators -->
          <div class="create-project-collaborators-select-wrap">
            <div class="form-group custom-from-group m-3">
              <label>Collaborators</label>

              <%=select_tag "colab_id", options_from_collection_for_select(User.all,"id","firstname"),class: 'custom-select',:required => true%>
              <input type="hidden" id="create-project-hidden-collaborators" name="create-project-collaborators">

              <i class="material-icons create-project-select-collaborator-add"
                 id="create-project-collaborator-add">add</i>
            </div>

            <div class="create-project-collaborators m-3" id="create-project-collaborators">
            </div>
          </div>

          <!-- allow help -->
          <div class="form-group m-3">
            <label>Allow others to offer their help?</label>
            <div>
              <div class="d-inline-block align-middle">
                <label class="mb-0">No</label>
                <input type="text" hidden name="help" value ="0">
              </div>
              <label class="switch align-middle mx-1 mb-0">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <label class="align-middle mb-0">Yes</label>
              <input type="text" hidden name="help" value ="1">
            </div>
          </div>

          <!-- categories -->
          <div class="create-project-categories-select-wrap">
            <div class="form-group custom-from-group m-3">
              <label>categories</label>

              <%=select_tag "“category_id”", options_from_collection_for_select(Category.all,"id","name"),class: 'custom-select',:required => true%>
              <input type="hidden" id="create-project-hidden-categories" name="create-project-categories">

              <i class="material-icons create-project-select-categories-add"
                 id="create-project-categories-add">add</i>
            </div>

            <div class="create-project-categories m-3" id="create-project-categories">
            </div>
          </div>

          <!-- projects -->
          <div class="form-group mx-3 mb-0">
            <label>Project Status</label>
          </div>
          <div class="form-row mx-3 mb-3">
            <div class="custom-control form-group custom-radio custom-radio-with-image mr-3">
              <input type="radio" class="custom-control-input" id="create-project-radio-2" name="status" value="0" required>
              <label class="custom-control-label" for="create-project-radio-2">
                <img width="30px" src="<%= image_path ('Icons/Idea_icon.png') %>">
                Idea
              </label>
            </div>

            <div class="custom-control form-group custom-radio custom-radio-with-image mx-3">
              <input type="radio" class="custom-control-input" id="create-project-radio-3" name="status" value="1" required>
              <label class="custom-control-label" for="create-project-radio-3">
                <img width="30px" src="<%= image_path ('Icons/WIP-icon.png') %>">
                In Progress
              </label>
            </div>

            <div class="custom-control form-group custom-radio custom-radio-with-image">
              <input type="radio" class="custom-control-input" id="create-project-radio-4" name="status" value="2" required>
              <label class="custom-control-label" for="create-project-radio-4">
                <img width="30px" src="<%= image_path ('Icons/completed-icon.png') %>">
                Complete
              </label>
            </div>
          </div>


          <div class="container">
              <input type="text" hidden id="url" name="url">
         </div>
        </div>
        <div class="modal-footer">
           <div class="celr" id="gridbtnSave">
               <div class="cel btnSave">
                <!-- <a href="/projects" id="submit" class="buttonSaveProject">Create Project</a> -->
                <%= submit_tag("Create Project",:id=>"submit_create_project", :class=>'btn btn-success',data: { disable_with: "Uploading..." })%>
                <!-- <button type="button" class="buttonSave">Save</button> -->
              </div>
           </div>
        </div>

      <% end %>

    </div>
  </div>  
</div>
<script>
  function selectProjectPic() {
    var uploadInputProject = document.getElementById('projectphoto')
    uploadInputProject.click()
  }
</script>