<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="modal fade" id="createProjectsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag( {:controller=>"projects", :action => :create, }, { :method => :post }) do %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body bodyEditProject" >
          <div class="container">
             <div class="gridTitleadd">
             </div>

             <div class="celr" id="gridAdd">
                 <div class="cel boldText title">Project Title</div>
                 <div class="cel input ">
                  <%= text_field_tag :name,nil,class: 'form-control field_input inputTitle',placeholder: "Name",:required => true %>
                  <!--<input type="text" name="title" class="inputTitle">-->
                </div>
                 <div class="addDesc boldText title">Description</div>
                 <div class="cel input">
                  <%= text_area_tag :description,nil,class: 'form-control field_input inputDescription',placeholder: "Describe It",:required => true %>
                  <!-- <textarea name="description" class="inputDescription" ></textarea> -->
                 </div>
             </div>

             <%= file_field_tag :projectphoto,class: 'form-control fieldinput' %>
              <i style="display:none;margin-left: 89%;float: right;margin-top: -4%;position:absolute" class="fa fa-spinner" id="loaderimage"></i>
              <i style="display:none;margin-left: 89%;float: right;margin-top: -4%;color:green;position:absolute" class="fa fa-check" id="check"></i>
              
              <input type="text" hidden id="url" name="url">

             <div class="celr" id="griCreator">
                 <div class="cel titleCreator boldText title">Creator</div>
                 <div class="imgCreator">
                  <img class="creatorImage" src="<%= image_path ('People/asian-square.jpg') %>">
                 </div>
                 <di class="cel" id="name">Jimi Hendrix</di>
             </div>

             <div class="gridCollaborator">
               <div class="collaborator boldText title">Collaborators</div>
               <div class="add"><a class="hrefAdd">Add</a></div>
               <%=select_tag "colab_id", options_from_collection_for_select(User.all,"id","firstname"),class: 'collaboratorsSelect',multiple: true,:required => true%>
               <div class="collaborators">
                 <div>
                   <img class="collaboratorImage" src="<%= image_path ('People/business.jpg') %>">
                 </div>
                 <div>
                   <img class="collaboratorImage" src="<%= image_path ('People/manback.jpg') %>">
                 </div>
                 <div>
                   <img class="collaboratorImage" src="<%= image_path ('People/man.jpg') %>">
                 </div>
               </div>

               <div class=""></div>
             </div>

             <div class="celr" id="gridText">
                 <div class="cel boldText title">Allow others to offer their help?</div>
             </div>
             <!-- <div class="celr" id="gridCheck">
                 <div>
                   <input class="radioAllowOthers" type="radio" name="allowOthers">
                 </div>
                 <div>Yes</div>
                 <div>
                   <input class="radioAllowOthers" type="radio" name="allowOthers">
                 </div>
                 <div>No</div>
                 <div class="cel"></div>
             </div> -->
             <div class="celr" id="gridCheck">
               <div class="labelYes">
                   <label>No</label>
               </div>
               <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
                <label>Yes</label>
               <div class="cel"></div>
           </div>
             <div class="celr" id="gridIcons">
                 <div class="cel pStatus boldText title">Project Status</div>
                 <div class="cel"></div>
                 <div class="cel imgCenter">
                  <input type="radio" class="projectProgressButtons" name="projectProgress">
                    <img class="projectsIcons" src="<%= image_path ('Icons/Idea_icon.png') %>">
                    <div class="projectsIconsLabel">Idea</div>
                  </input>
                 </div>
                 <div class="cel"></div>
                 <div class="cel imgCenter">
                  <input type="radio" class="projectProgressButtons" name="projectProgress">
                    <img class="projectsIcons" src="<%= image_path ('Icons/WIP-icon.png') %>">
                    <div class="projectsIconsLabel">In-Progress</div>
                  </input>
                 </div>
                 <div class="cel"></div>
                 <div class="cel imgCenter">
                  <input type="radio" class="projectProgressButtons" name="projectProgress">
                    <img class="projectsIcons" src="<%= image_path ('Icons/completed-icon.png') %>">
                    <div class="projectsIconsLabel">Complete</div>
                  </input>
                 </div>
                 <div class="cel"></div>
             </div>
             <div class="celr" id="gridCategories">
                 <div class="cel boldText title">Categories</div>
                 <div class="cel iptC"><input type="text" name="Categories" class="inputC"></div>
             </div>
         </div>
        </div>
        <div class="modal-footer">
           <div class="celr" id="gridbtnSave">
               <div class="cel btnSave">
                <!-- <a href="/projects" id="submit" class="buttonSaveProject">Create Project</a> -->
                <%= submit_tag("Create Project",:id=>"submit", :class=>'buttonSaveProject')%>
                <!-- <button type="button" class="buttonSave">Save</button> -->
              </div>
           </div>
        </div>

      <% end %>

    </div>
  </div>
</div>
<script>
    $(document).ready(function(){
        $("input[type=file]").change(function(e){
            $('#loaderimage').fadeIn();
            $('#loaderimage').addClass('fa-spin');
            var storage = firebase.storage();
            var storageRef = firebase.storage().ref();
            if(e.target.id == "projectphoto"){
                var file=document.getElementById("projectphoto").files[0];
                console.log(file);
                var thisref = storageRef.child("category/"+file.name).put(file);

            }
            else if(e.target.id == "edit_url"){
                var file=document.getElementById("edit_url").files[0];
                console.log(file);
                var thisref = storageRef.child("category/"+file.name).put(file);

            }

            thisref.on('state_changed',function(snapshot){
                console.log("File Uploaded Successfully");
            },function (error) {

            },function() {
                thisref.snapshot.ref.getDownloadURL().then(function(downloadURL) {
                    if(e.target.id=="projectphoto")
                    {
                      $('#url').val(downloadURL);
                        profile = document.getElementById("url").value = downloadURL;
                    }
                    else if(e.target.id=="edit_url")
                    {
                        profile = document.getElementById("edurl").value = downloadURL;
                    }
                    $('#loaderimage').fadeOut();
                    $('#check').fadeIn();
                })});
        });
    });
</script>
