<div class="modal fade" id="editGuideModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Interests</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modalCategories redcel">
          <div class="addInterests redcel">
            <div class="title boldText redcel">
              Add an interest
            </div>
            <div class="redcel">
            </div>
            <div class="inputContainer redcel">
              <input placeholder="Electric cars, oil painting, guitar..." type="text" name="searchInput" class="oh1SearchInput">
              <img class="inputRightIcon" src="<%= image_path('Icons/search.png')  %>">
            </div>
            <div class="newCategoryMessage boldText redcel">
              Can't find a category? <span data-toggle="modal" data-target="#newCategoryModal" class="createCategory boldText"> Create a new category.</span>
            </div>
          </div>
          <div class="title boldText redcel" id="yourInterests">
            Your interests
          </div>
          <div class="categoriesGrid redcel">
            <% if @guides.blank? %>
              <div class="gridGuidingActivity">
                  <div class="titleactivityProfile toptitleActivity">
                    <span class="titleYetAdd">Nothing added yet</span>
                  </div>
                  <div class="gridImgActivity">
                      <div class=""></div>
                      <div class="">
                          <img src="<%= image_path('Icons/yet.png') %>" alt="Image" class="imgYet">
                      </div>
                      <div class=""></div>
                  </div>
              </div>
            <% else %>
                <% @guides.each do|guide| %>
                  <div class="interestsImage">
                     <img class="imagesInterests" src="<%= guide.url %>">
                  </div>
               <% end %>
            <% end %>
          </div>
        </div>
      </div>
        <div class="modal-body">
              <!-- <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div> -->
      
              <!-- <input type="text" class="form-control" placeholder="Oil painting, 3D printing, Electric cars etc."> -->
              <%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
                <div>
                  Search
                  <%= f.text_field(
                    :search_query,
                    class: 'filterrific-periodically-observed form-control',
                    placeholder: 'Oil painting, 3D printing, Electric cars etc.'
                  ) %>
                </div>
      
                <div>
                  <%= link_to(
                    'Reset filters',
                    reset_filterrific_url,
                  ) %>
                </div>
                <%= render_filterrific_spinner %>
              <% end %>

        <div class="my-5 p-3 border rounded position-relative auxiliar-container" id="explore-item-container">
          <%= render(
            partial: 'listg',
            locals: { categories: @categories }
          ) %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	var guideCategories = window.localStorage.getItem('guideCategories');
	if(guideCategories){
		guideCategories = JSON.parse(guideCategories);
	}else{
		guideCategories = {categories:[]};
	}
	guideCategories.categories.forEach(cat=>{
		$("#guideCat-"+cat).removeClass('btn-success').addClass('btn-outline-dark').text('Added');
	});
	setGuideCategories();

	$('.addGuideBtnn').on('click', function () {
	  // alert("Clicked  ");
	  var id = this.id;
	  id = id.split("-")[1];
	  var isSelected = $(this).hasClass("btn-outline-dark");
	  if(isSelected){
	  	unselecCategoryG(id);
	  }else {
	  	selectCategoryG(id);
	  }
	  setGuideCategories();

	})


	function selectCategoryG(category){
		addCategoryG(category);
		$("#guideCat-"+category).removeClass('btn-success').addClass('btn-outline-dark').text('Added');
	}

	function unselecCategoryG(category){
		deleteCategoryG(category);
		$("#guideCat-"+category).removeClass('btn-outline-dark').addClass('btn-success').text('Add');
	}

	function addCategoryG(category){
		var array = window.localStorage.getItem('guideCategories');
		if(array){
			array = JSON.parse(array);
		}else{
			array = {categories:[]};
		}
		array.categories.push(category);
		window.localStorage.setItem('guideCategories', JSON.stringify(array));
	}
	function deleteCategoryG(category){
		var array = window.localStorage.getItem('guideCategories');
		if(array){
			array = JSON.parse(array);
		}else{
			array = {categories:[]};
		}

		array.categories = array.categories.filter(cat=>{
			return cat!=category;
		});
		window.localStorage.setItem('guideCategories', JSON.stringify(array));
	}

	function setGuideCategories(){
		/*this function keeps updating the value of the hidden tag
		to use it anytime in the backend*/
		var array = window.localStorage.getItem('guideCategories');
		if(array){
			array = JSON.parse(array);
		}else{
			array = {categories:[]};
		}
		console.log(array);
    //document.getElementById("guideCategories").value = array;
	}

</script>
