<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Introduction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag( {:controller=>"profiles", :action => :create, }, { :method => :post }) do %>
          <div class="modal-body bodyEditProfile">
            <div class="containerProfileModal">
              <div class="celr text-right"
                  id="gridBackground"
                  style="background-image: url(<%= image_path ('life-862972_1920.jpg') %>);">
                <div>
                  <a class="btn btn-link btn-icon-fab position-relative shadow rounded-circle m-2" onclick="selectProfilePic()">
                    <i class="material-icons centerXY">edit</i>
                  </a>
                  <i style="display:none;margin-left: 91%;margin-top: 100px;z-index: 100" class="fa fa-spinner" id="loaderimagebackground"></i>
                  <i style="display:none;margin-left: 91%;margin-top: 100px;color:green;z-index: 100" class="fa fa-check" id="checkbackground"></i>
                  <%= file_field_tag :profileBackground,class: 'form-control fieldinput d-none' %>
                </div>
                <div class="cel">
                  <div class="imgBackgraound">
                    <% if @profile.profile_photo.blank? %>
                      <img class="profileImg shadow" src="<%= image_path ('person_4.jpg') %>">
                    <% else %>
                      <img src="<%= @profile.profile_photo %>" alt="Image" class="profileImg">
                    <% end %>
                    <div class="editProfilePicIconCont">
                      <button class="btn btn-link btn-icon-fab position-relative shadow rounded-circle"
                           onclick="selectPic()">
                        <i class="material-icons centerXY">edit</i>
                      </button>

                      <%= file_field_tag :profilephoto,class: 'form-control fieldinput d-none' %>
                    </div>
                  </div>
                </div>
              </div>

              <form>
                <div class="form-row m-3">
                  <div class="col form-group custom-from-group">
                    <label>First Name</label>
                    <%= text_field_tag :name,@user.firstname,class: 'form-control',:readonly => true %>
                  </div>
                  <div class="col form-group custom-from-group">
                    <label>Last Name</label>
                    <%= text_field_tag :name,@user.lastname,class: 'form-control',:readonly => true %>
                  </div>
                </div>

                <div class="form-group m-3">
                  <label>Personal Summary</label>
                  <%= text_area_tag :bio,@profile.bio,class: 'form-control', placeholder: "Bio", rows: "3" %>
                </div>

                <div class="edit-profile-select-language-wrap">
                  <div class="form-group custom-from-group m-3" id="select-languages-wrap">
                      <label>Fluent Language(s)</label>
                      <%= select_tag "language", options_from_collection_for_select(LanguageList::COMMON_LANGUAGES, "iso_639_3", "name"), {class:"custom-select"}%>
                      <input type="hidden" id="edit-profile-hidden-languages" name="edit-profile-languages">



                      <i class="material-icons edit-profile-select-language-add" id="edit-profile-languages-add">add</i>
                  </div>

                  <div class="edit-profile-languages m-3" id="edit-profile-languages">
                  </div>
                </div>

                <div class="form-row m-3">
                  <div class="form-group col-md-4 custom-from-group pl-0">
                    <label>Country</label>
                    <select id="countries" class="custom-select" name="country">
                      <option value="">Select Your Country</option>
                      <% CS.countries.each do |key, value| %>
                       <% if value == @profile.country %>
                        <option value="<%= key %>" selected><%= value %></option>
                        <%else%>
                        <option value="<%= key %>"><%= value %></option>
                        <%end%>
                      <% end %>
                    </select>
                  </div>

                  <div class="form-group col-md-4 custom-from-group">
                    <label>State/Provience</label>
                    <select id="states-of-country" class="custom-select" name="state">
                      <%if @profile.state.present? %>
                        <option value="<%=@profile.state%>" selected><%=@profile.state%></option>
                      <%else%>
                        <option value="">Select Your Country</option>
                      <%end%>
                    </select>
                  </div>

                  <div class="form-group col-md-4 custom-from-group pr-0">
                    <label>City</label>
                    <select id="cities-of-state" class="custom-select" name="city">
                      <%if @profile.city.present? %>
                        <option value="<%=@profile.city%>" selected><%=@profile.city%></option>
                      <%else%>
                        <option value="">Select Your Country</option>
                      <%end%>
                    </select>
                  </div>
                </div>
              </form>
      </div>
    </div>
    <div class="modal-footer">
      <div class="celr" id="gridbtnSave">
        <div class="cel btnSave">
          <% if @new_profile %>
          <%= submit_tag("Save",:id=>"submit", :class=>'btn btn-success buttonSave next-button')%>
          <% else %>
          <%= submit_tag("Save",:id=>"submit", :class=>'btn btn-success buttonSave next-button')%>
          <% end %>
        </div>
    </div>
    </div>
    <input type="" id="urlprofileBackground" name="" style="display: none;">
    </div>
  <%end%>
<script>
  function selectPic() {
    var uploadInput = document.getElementById('profilephoto')
    uploadInput.click()    
  }

  function selectProfilePic() {
    var uploadProfileInput = document.getElementById('profileBackground')
    uploadProfileInput.click()    
  }

</script>
</div>
</div>
</div>
