<div class="modal fade" id="editExploreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Interests</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modalCategories redcel">
          <div class="addInterests redcel">
            <div class="title boldText redcel">
              Add an interest
            </div>
            <div class="redcel">
            </div>
            <div class="inputContainer redcel">
              <input placeholder="Electric cars, oil painting, guitar..." type="text" name="searchInput" class="oh1SearchInput">
              <img class="inputRightIcon" src="<%= image_path('Icons/search.png')  %>">
            </div>
            <div class="newCategoryMessage boldText redcel">
              Can't find a category? <span data-toggle="modal" data-target="#newCategoryModal" class="createCategory boldText"> Create a new category.</span>
            </div>
          </div>
          <div class="title boldText redcel" id="yourInterests">
            Your interests
          </div>
          <div class="categoriesGrid redcel">
            <% if @explores.blank? %>
              <div class="gridGuidingActivity">
                  <div class="titleactivityProfile toptitleActivity">
                    <span class="titleYetAdd">Nothing added yet</span>
                  </div>
                  <div class="gridImgActivity">
                      <div class=""></div>
                      <div class="">
                          <img src="<%= image_path('Icons/yet.png') %>" alt="Image" class="imgYet">
                      </div>
                      <div class=""></div>
                  </div>
              </div>
            <% else %>
                <% @explores.each do|explore| %>
                  <div class="interestsImage">
                     <img class="imagesInterests" src="<%= explore.url %>">
                  </div>
               <% end %>
            <% end %>
          </div>
        </div>
        <%= form_for_filterrific @filterrific do |f| %>
          <div>
            Search
            <%= f.text_field(
              :search_query,
              class: 'filterrific-periodically-observed form-control',
              placeholder: 'Oil painting, 3D printing, Electric cars etc.'
            ) %>
          </div>

          <div>
            <%= link_to(
              'Reset filters',
              reset_filterrific_url,
            ) %>
          </div>
          <%= render_filterrific_spinner %>
        <% end %>
        <div id="filterrific_results">
          <div>
            <%= page_entries_info @categories, entry_name: "category" %>
          </div>
          <% @categories.each do |category| %>
            <div class="row mx-0 explore-item">
              <div class="col">
                <div>
                  <div class="row">
                    <div class="col-auto pl-0">
                      <img width="100px" height="100px" src="<%= image_path('Skills/poly.jpg')%>" alt="poly">
                    </div>
                    <div class="col pr-0">
                      <h5 class="font-weight-bold explore-item-head"><%= category.name%></h5>
                      <p class="explore-item-sub-head">260 Explores</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto pr-0">
                  <button id="explorerCat-<%= category.id %>" type="button" class="btn btn-success p-2 addExploreBtnn">Add</button>
                </div>
              

            </div>
          <% end %>
          <%= will_paginate @categories  %>
        </div>
      </div>

    </div>
  </div>
</div>
