<div class="exploreSection">
    <div class="celprofile" id="score">
      <div class="cel celrating"><p class="txtrating c-black">Average Rating:</p></div>
      <div class="icons-Starts" id="subgridscore">
        <div class="cel mt-1">
          <div class="rateYo d-inline-block p-0"></div>
        </div>
        <span class="cel fz-13 mt-3 fw-600 c-gray">58</span>

        <div class="grid-RatingsModal">
                <div class="grid-Pop celpop">
                        <div class="grid-Starts celpop">
                          <div class="celp">
                            <div class="rateYo d-inline-block p-0"></div>
                          </div>
                          <div class="celp txt5 mt-1">5 <span>out of</span> 5</div>
                        </div>
                        <div class="grid-Rating celpop">
                            <div class="celp txt-Title">14 ratings</div>
                        </div>
                        <div class="grid-Star celpop">
                            <div class="celp txt-Star top-Starts">5 Star</div>
                            <div class="celp top-Starts">
                                <div class="progress bar-Progress">
                                    <div class="progress-bar bary" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                            </div>
                            <div class="celp number top-Starts">100%</div>
                            <div class="celp txt-Star top-Starts">4 Star</div>
                            <div class="celp top-Starts">
                                <div class="progress bar-Progress">
                                    <div class="progress-bar bary" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="celp number top-Starts">0%</div>
                            <div class="celp txt-Star top-Starts">3 Star</div>
                            <div class="celp top-Starts">
                                <div class="progress bar-Progress">
                                    <div class="progress-bar bary" role="progressbar" style="width: 70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="celp number top-Starts">0%</div>
                            <div class="celp txt-Star top-Starts">2 Star</div>
                            <div class="celp top-Starts">
                                <div class="progress bar-Progress">
                                    <div class="progress-bar bary" role="progressbar" style="width: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="celp number top-Starts">0%</div>
                            <div class="celp txt-Star top-Starts">1 Star</div>
                            <div class="celp top-Starts">
                                <div class="progress bar-Progress">
                                    <div class="progress-bar bary" role="progressbar" style="width: 10%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="celp number top-Starts">0%</div>
                            <div class="topStart"></div>
                        </div>
                    </div>

                    <div class="cel"></div>

      </div>
      </div>
      <div class="cel"></div>
    </div>
    <div class="interestsHeader mt-3">
        <div class="interestsTitle c-black">Interests</div>
        <div class="interestsIcon">
            <a href="#" data-toggle="modal" data-target="#editExploreModal">
                <i class="material-icons c-dark-gray">edit</i>
            </a>
        </div>
    </div>

    <div class="interestsContent mb-3">
        <div class="interestsImages">
            <% if @explores.blank? %>
              <div class="gridGuidingActivity">
                      <button data-toggle="modal" data-target="#editExploreModal" class="btnAddActivity" >adds</button>
                  <div class="titleactivityProfile toptitleActivity">
                    <span class="titleYetAdd">Nothing added yet</span>
                  </div>
                  <div class="gridImgActivity">
                      <div class=""></div>
                      <div class="">
                          <img src="<%= image_path('Icons/yet.png') %>" alt="Image" class="imgYet">
                      </div>
                      <div class=""></div>
                  </div>
              </div>
            <% else %>
                <% @explores.each do|explore| %>
                  <div class="interestsImage">
                     <img class="imagesInterests" src="<%= explore.url %>">
                  </div>
               <% end %>
            <% end %>
        </div>
        <div class="interestsMoreLink">
          <a class="gridLessLink" id="lessExploresProfile">Less</a>
          <div class="showMoreLessMessage" id="exploresProfileMessage">
            Showing x of y items
          </div>
          <a class="gridMoreLink" id="moreExploresProfile">More</a>
        </div>
    </div>
    <div class="reviewsTitle">
        <div id="forReviewsTitle" class="c-black">Reviews</div>
    </div>
    <div class="reviewsContent">
      <% if @explore_ratings.blank? %>
         <div class="emptyReviews">
            No Explore Ratings Available
         </div>
      <% else %>
         <% @explore_ratings.each do |content| %>
           <div class="reviews">
               <div class="reviewImage">
                   <div class="reviewImageGrid"><img class="imageReview" src="<%= image_path('Section/party.jpeg') %>"></div>
                   <div class="reviewLabel">
                     <%= Guide.find(content.guide_id).category.name %>
                   </div>
               </div>
               <div class="reviewInfo">
                   <div class="reviewRate">
                       <div class="celXs" id="subgridscoreXs">
                           <div id="" class="rateYoCustom d-inline-block p-0" starsSize="normal" rating="4"></div>
                        </div>
                   </div>
                   <div class="reviewViewAllReviews">
                       <a href="">View All Reviews</a>
                   </div>
                   <%= link_to reviews_path(:guide_id => content.guide_id) do%>
                   <div class="commentImage">
                       <img class="commentProfileImage" src="<%= Guide.find(content.guide_id).profile.profile_photo %>">
                   </div>
                   <div class="comment">"<%= content.review %>"</div>
                  <%end%>
               </div>
           </div>
         <% end %>
      <% end %>
    </div>
    <!-- <div class="moreLink">
        <div id="forMoreLink">
            <a id="moreLink" href="#">More</a>
        </div>
    </div> -->

   <!-- <a data-toggle="modal" data-target="#endTimes" id="moreLink" href="#">More</a> cambio prueba -->
</div>
