<div class="exploreSection">
    <div class="celprofile" id="score">
      <div class="cel celrating"><p class="txtrating">Average Rating</p></div>
      <div class="icons-Starts" id="subgridscore">
        <div class="cel"><i class="material-icons icons start"> start</i></div>
        <div class="cel"><i class="material-icons icons start"> start</i></div>
        <div class="cel"><i class="material-icons icons start"> start</i></div>
        <div class="cel"><i class="material-icons icons start"> start</i></div>
        <div class="cel"><i class="material-icons icons start"> start</i></div>
        <div class="grid-RatingsModal">
                <div class="grid-Pop celpop">
                        <div class="grid-Starts celpop">
                            <div class="celp">
                                <i class="material-icons icons starts">start</i>
                            </div>
                            <div class="celp">
                                <i class="material-icons icons starts">start</i>
                            </div>
                            <div class="celp">
                                <i class="material-icons icons starts">start</i>
                            </div>
                            <div class="celp">
                                <i class="material-icons icons starts">start</i>
                            </div>
                            <div class="celp">
                                <i class="material-icons icons starts">start</i>
                            </div>
                            <div class="celp txt5">5 out of 5</div>
                        </div>
                        <div class="grid-Rating celpop">
                            <div class="celp txt-Title">14 ratings</div>
                        </div>
                        <div class="grid-Star celpop">
                            <div class="celp txt-Star top-Starts">5 Star</div>
                            <div class="celp top-Starts">
                                <div class="progress bar-Progress">
                                    <div class="progress-bar bary" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                            </div>
                            <div class="celp number top-Starts">100%</div>
                            <div class="celp txt-Star top-Starts">4 Star</div>
                            <div class="celp top-Starts">
                                <div class="progress bar-Progress">
                                    <div class="progress-bar bary" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="celp number top-Starts">0%</div>
                            <div class="celp txt-Star top-Starts">3 Star</div>
                            <div class="celp top-Starts">
                                <div class="progress bar-Progress">
                                    <div class="progress-bar bary" role="progressbar" style="width: 70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="celp number top-Starts">0%</div>
                            <div class="celp txt-Star top-Starts">2 Star</div>
                            <div class="celp top-Starts">
                                <div class="progress bar-Progress">
                                    <div class="progress-bar bary" role="progressbar" style="width: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="celp number top-Starts">0%</div>
                            <div class="celp txt-Star top-Starts">1 Star</div>
                            <div class="celp top-Starts">
                                <div class="progress bar-Progress">
                                    <div class="progress-bar bary" role="progressbar" style="width: 10%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="celp number top-Starts">0%</div>
                            <div class="topStart"></div>
                        </div>
                    </div>
    
                    <div class="cel"></div>
    
      </div>
      </div>
      <div class="cel"></div>                 
    </div>
    <div class="interestsHeader">
        <div class="interestsTitle">Intrests</div>
        <div class="interestsIcon">
            <a href="#">
                <img data-toggle="modal" data-target="#categoriesModal" class="editIcon" src="<%= image_path('Icons/edit.png')  %>">
            </a>
        </div>
    </div>
    <div class="interestsContent">
        <div class="interestsImages">
            <% if @explores.blank? %>
              <div class="gridGuidingActivity">  
                      <button  class="btnAddActivity" >adds</button>
                  <div class="titleactivityProfile toptitleActivity">
                    <span class="titleYetAdd">Nothing added yet</span>
                  </div>
                  <div class="gridImgActivity">
                      <div class=""></div>
                      <div class="">
                          <img src="<%= image_path('Icons/yet.png') %>" alt="Image" class="imgYet">
                      </div>
                      <div class=""></div>
                  </div>
              </div>
            <% else %>
                <% @explores.each do|explore| %>
                  <div class="interestsImage">
                     <img class="imagesInterests" src="<%= explore.url %>">
                  </div>
               <% end %>
            <% end %>
        </div> 
        <div class="interestsMoreLink">
            <a id="interestsMoreLink" href="#">More</a>
        </div>
    </div>
    <div class="reviewsTitle">
        <div id="forReviewsTitle">Reviews</div>
    </div>
    <div class="reviewsContent">
      <% if @explore_ratings.blank? %>
         <div class="emptyReviews">
            No Explore Ratings Available
         </div>
      <% else %>
         <% @explore_ratings.each do |content| %>
           <div class="reviews">
               <div class="reviewImage">
                   <div class="reviewImageGrid"><img class="imageReview" src="<%= Guide.find(content.guide_id).category.url %>"></div>
                   <div class="reviewLabel">
                     <%= Guide.find(content.guide_id).category.name %>
                   </div>
               </div>
               <div class="reviewInfo">
                   <div class="reviewRate">
                       <div class="celXs" id="subgridscoreXs">
                           <div class="cel"><i class="material-icons icons startXs"> start</i></div>
                           <div class="cel"><i class="material-icons icons startXs"> start</i></div>
                           <div class="cel"><i class="material-icons icons startXs"> start</i></div>
                           <div class="cel"><i class="material-icons icons startXs"> start</i></div>
                           <div class="cel"><i class="material-icons icons startXs"> start</i></div>
                           <div class="rateNumber">5</div>
                         </div>
                   </div>
                   <div class="reviewViewAllReviews">
                       <a id="reviewViewAllReviews" href="#">viewAllReviews</a>
                   </div>
                   <div class="commentImage">
                       <img class="commentProfileImage" src="<%= Guide.find(content.guide_id).profile.profile_photo %>">
                   </div>
                   <div class="comment">"<%= content.review %>"</div>
               </div>
           </div>
         <% end %>
      <% end %>        
    </div>                            
    <div class="moreLink">
        <div id="forMoreLink">
            <a id="moreLink" href="#">More</a>
        </div>
    </div>  

   <!-- <a data-toggle="modal" data-target="#endTimes" id="moreLink" href="#">More</a> cambio prueba -->
</div>