<button type="button" id="addProjectBtn" class="btn btn-outline-secondary mt-3">
	<span class="icon">
		<i class="material-icons">add</i>		
	</span>
	
	<span class="text">
		Add Project
	</span>
</button>

<div class="mb-5 mt-2 p-3 border rounded position-relative" id="projects-container">
	<div class="row">
		<div class="col-6 position-relative">
			<img width="100%"
				 height="200px"
				 class="rounded"
				 src="<%= image_path('Skills/poly.jpg')%>" alt="poly">

			<img class="project_status" src="<%= image_path('Icons/project_status.png')%>" alt="status">
		</div>
		<div class="col-6">
			<h5 class="font-weight-bold">
				Steve the Dog Chaser
				<button type="button" class="btn btn-link">
					<img src="<%= image_path('Icons/edit.png')%>"
						 width="24px"
						 alt="status">
				</button>
			</h5>
			<h6 class="mt-1 font-weight-bold fz-13">Description</h6>
			<p class="fz-12">Cats are getting fat and needed to find a way to get them moving again. I am combinding a Raspberry Pi 3.</p>

			<h6 class="mt-2 font-weight-bold fz-13">Skills needed</h6>
			<p class="fz-12">Seeking coding support so my tires stop buringing out on the wood floorswhen I accelerate.</p>
		</div>
	</div>

	<div class="row mt-2">
		<div class="col-6">
			<img width="100%" height="200px" src="<%= image_path('Skills/poly.jpg')%>" alt="poly">
			<img class="project_status" src="<%= image_path('Icons/project_status.png')%>" alt="status">
		</div>
		<div class="col-6">
			<h5 class="font-weight-bold">
				Steve the Dog Chaser
				<button type="button" class="btn btn-link">
					<img src="<%= image_path('Icons/edit.png')%>"
						 width="24px"
						 alt="status">
				</button>
			</h5>
			<h6 class="mt-1 font-weight-bold fz-13">Description</h6>
			<p class="fz-12">Cats are getting fat and needed to find a way to get them moving again. I am combinding a Raspberry Pi 3.</p>

			<h6 class="mt-2 font-weight-bold fz-13">Skills needed</h6>
			<p class="fz-12">Seeking coding support so my tires stop buringing out on the wood floorswhen I accelerate.</p>
		</div>
	</div>
</div>
