<div id="filterrific_results">
  <% categories.each do |category| %>
  	<div class="explore-item border rounded"
         style="background-image: url(<%= image_path('Skills/poly.jpg')%>)">
<!-- 
      <% if request.env['PATH_INFO'] == "/profile/guides" %>
          <% if @list.include?(category.id) %>
            <div class="col-auto pr-0">
              <button id="guideCat-<%= category.id %>" type="button" class="btn btn-success p-2 addGuideBtnn">Add</button>
            </div>
          <% else %>
            <div class="col-auto pr-0">
              <button id="guideCat-<%= category.id %>" type="button" class="btn btn-success p-2 addGuideBtnn">Add</button>
            </div>
        <% end %>
        <% else %>
          <% if @list.include?(category.id) %>
            <div class="col-auto pr-0">
              <button id="explorerCat-<%= category.id %>" type="button" class="btn btn-link btn-icon-fab position-relative shadow rounded-circle explore-item-status-button addExploreBtnn">add</button>
            </div>
            <% else %>
            <div class="col-auto pr-0">
              <button id="explorerCat-<%= category.id %>" type="button" class="btn btn-link btn-icon-fab position-relative shadow rounded-circle explore-item-status-button addExploreBtnn">add</button>
            </div>
          <% end %>
        <% end %>
 -->
      <button class="btn btn-link btn-icon-fab position-relative shadow rounded-circle explore-item-status-button explore-item-status-button-add">
        <i class="material-icons centerXY">add</i>
      </button>

      <div class="explore-item-footer p-2">
        <h5 class="fw-600 c-black"><%= category.name%></h5>

        <span class="fz-14 explore-item-sub-head">260 Explores</span>
      </div>

  	</div>
  <% end %>
  <div class="row pt-3" id="skipLine">
    <%= will_paginate categories  %>
  </div>
</div>
