<!--<% @isGuide = request.env['PATH_INFO'] == "/profile/guides" %>-->
<% @idPrefix = "explorerCat-" %>
<%= javascript_tag do %>
  var explore_ids = <%= @list.to_json.html_safe %>;
<% end %>

<div id="filterrific_results">
  <% if categories.blank? %>
    No categories found
  <% else %>
    <% categories.each do |category| %>
    	<div class="explore-item border rounded <%= @list.include?(category.id) ? 'active' : ''%>"
           id="<%= @idPrefix + category.id.to_s %>"
           style="background-image: url(<%= image_path('Skills/poly.jpg')%>)">
        <button class="btn btn-link btn-icon-fab position-relative shadow rounded-circle explore-item-status-button explore-item-status-button-add">
          <i class="material-icons centerXY">add</i>
        </button>

        <div class="explore-item-footer px-2 py-1">
          <h5 class="fw-600 c-black mb-1"><%= category.name%></h5>
          <% if !(category.explores.count == 0)%>
            <span class="fz-14 explore-item-sub-head"><%= category.explores.count %> Explorers</span>
          <%end%>
        </div>

    	</div>
    <% end %>
  <%end%>
  <!-- <div class="row pt-3" id="skipLine">
    <%= will_paginate categories  %>
  </div> -->
</div>
