<%= javascript_tag do %>
  var guide_ids = <%= @listg.to_json.html_safe %>;
<% end %>
<div id="filterrific_resultsG">
  <% if categories.blank? %>
    No categories found
  <% else %>
    <% categories.each do |category| %>
      <div class="explore-item border rounded <%= @listg.include?(category.id) ? 'active' : ''%>"
           id="guideCat-<%= category.id.to_s %>"
           style="background-image: url(<%= image_path('Skills/poly.jpg')%>)">
        <button class="btn btn-link btn-icon-fab position-relative shadow rounded-circle explore-item-status-button guide-item-status-button-add">
          <i class="material-icons centerXY">add</i>
        </button>

        <div class="explore-item-footer px-2 py-1">
          <h5 class="fw-600 c-black mb-1"><%= category.name%></h5>
          <% if !(category.guides.count == 0)%>
            <span class="fz-14 explore-item-sub-head"><%= category.guides.count %> Guides</span>
          <%end%>
        </div>
        <!-- addGuideBtnn -->
      </div>
    <% end %>
  <%end%>
<!-- <div class="row pt-3" id="skipLine">
  <%= will_paginate categories  %>
</div> -->
</div>
