<div class="celprofile">
  <div class="fondo"><img class="imgfondo" src="<%= image_path('life-862972_1920.jpg')  %>"></div>
  <div class="celprofile" id="description">
    <div class="cel pname">
        <img id="img-Profile" class="imgView" src="<%= image_path('People/beautiful-1274056_640.jpg')%>">
        <p class="names"><%= @profile.user.firstname%>&nbsp<%= @profile.user.lastname %></p>
    </div>

    <div class="cel"><i data-toggle="modal" data-target="#profileModal" class="material-icons icons create">create</i>
      <div class="cel buttonMessage"><button type="button" class="btnMessage">Message</button></div>
    </div>
    <div class="cel pcity mediacity"><p class="city">
      <% if @profile.state.nil? && @profile.country.nil? %>
     Location : None
     <% else %>
      <%= @profile.state%>,<%= @profile.country%>
     <% end %>
    </p></div>
    <div class="celd"></div>
    <div class="cel buttonCalendar"><button type="button" class="btnCalendar">Calendar</button></div>
    <div class="pLanguages medialanguages"><p class="languages">
      <% if @profile.languages.empty? %>
        None
      <% else %>
        <%= @profile.languages %>
      <% end %>
    </p></div>
    <div></div>
    <div class="pDescription mediadescription"><p class="description">
      <%if @profile.bio.nil? %>
        Bio not updated
      <% else %>
        <%= @profile.bio%>
      <% end %>
    </p></div>

    <div class="cel"></div>
  </div>
  <div class="celprofile tabOptions row" id="grid-menu">
    <header class="profile-tab">
      <div id="material-tabs" class="border-0">
          <a id="tab1-tab" href="#tab1" class="active"><%= @explores.count %> <br> Explore</a>
          <a id="tab2-tab" href="#tab2"><%= @guides.count %> <br> Guide</a>
          <a id="tab3-tab" href="#tab3"><%= @projects.count %> <br> Projects</a>
          <span class="yellow-bar"></span>
      </div>
    </header>
  </div>
  <div class="tab-content custom-table">
        <div id="tab1">
          <%= render 'exploration'  %>
        </div>
        <div id="tab2">
          <%= render 'guiding' %>
        </div>
        <div id="tab3">
          <%= render 'projects' %>
        </div>
  </div>
  <%= render 'profile_pic_ui' %>
</div>
