<div class="celprofile">
  <a id="toggle-sidebar" href="#">
  <div class="memberView">
      <div class="profileView">
          Profile
      </div>
      <div class="viewAsMember">
          View as member
      </div>
  </div>
</a>
  <div class="fondo"><img class="imgfondo" src="<%= image_path('life-862972_1920.jpg')  %>"></div>
  <div class="celprofile" id="description">
    <div class="cel"><p class="name"><%= current_user.firstname%>&nbsp<%= current_user.lastname %></p></div>
    <div class="cel"><i data-toggle="modal" data-target="#profileModal" class="material-icons icons create">create</i></div>
    <div class="cel"><p class="city">
      <% if @profile.state.nil? && @profile.country.nil? %>
     Location : None
     <% else %>
      <%= @profile.state%>,<%= @profile.country%></h3>
     <% end %>
    </p></div>
    <div class="cel"></div>
    <div class="cel"><p class="languages">
      <% if @profile.languages.empty? %>
        None
      <% else %>
        <%= @profile.languages %>
      <% end %>
    </p></div>
    <div class="cel"></div>
    <div class="cel"><p class="description"> 
      <%if @profile.bio.nil? %>
        Bio not updated
      <% else %>
        <%= @profile.bio%>
      <% end %>
    </p></div>
    <div class="cel"></div>
  </div>
  <div class="celprofile tabOptions row" id="grid-menu">
    <!-- <div class="cel"></div>
    <div class="cel tabOption"><a class="tabLink selected" id="explore" tabindex="0">Explore</a></div>
    <div class="cel tabOption"><a class="tabLink" id="guide"tabindex="1" >Guide</a></div>
    <div class="cel tabOption"><a class="tabLink" id="projects" tabindex="2">Projects</a></div>
    <div class="cel"></div> -->
    <header class="profile-tab">
      <div id="material-tabs">
          <a id="tab1-tab" href="#tab1" class="active">Explore</a>
          <a id="tab2-tab" href="#tab2">Guide</a>
          <a id="tab3-tab" href="#tab3">Projects</a>
          <span class="yellow-bar"></span>
      </div>
    </header>
  </div>
  <div class="celprofile" id="score">
    <div class="cel celrating"><p class="txtrating">Average Rating</p></div>
    <div class="cel" id="subgridscore">
      <div class="cel"><i class="material-icons icons start"> start</i></div>
      <div class="cel"><i class="material-icons icons start"> start</i></div>
      <div class="cel"><i class="material-icons icons start"> start</i></div>
      <div class="cel"><i class="material-icons icons start"> start</i></div>
      <div class="cel"><i class="material-icons icons start"> start</i></div>
    </div>
    <div class="cel"></div>                 
  </div>
  <div class="tab-content custom-table">
        <div id="tab1">
          <%= render 'exploration' %>
        </div>
        <div id="tab2">
          <%= render 'guiding' %>
        </div>
        <div id="tab3">
          <%= render 'projects' %>
        </div>
        
  </div>
  <!-- <div class="tabContainer">
      <div class="tab selected" id="tab_explore">
          
      </div>
      <div class="tab" id="tab_guide">
          
      </div>
      <div class="tab" id="tab_projects">
          
      </div>
  </div>                 -->
</div>