<p class="font-weight-bold">
	Interests
</p>

<!--  search container -->
<div class="row">
  <div class="col">
  	<div class="input-group custom-from-group">
        <!-- <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div> -->

        <!-- <input type="text" class="form-control" placeholder="Oil painting, 3D printing, Electric cars etc."> -->
				<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
					<div>
						Search
						<%= f.text_field(
							:search_query,
							class: 'filterrific-periodically-observed form-control',
							placeholder: 'Oil painting, 3D printing, Electric cars etc.'
						) %>
					</div>

					<div>
						<%= link_to(
							'Reset filters',
							reset_filterrific_url,
						) %>
					</div>
					<%= render_filterrific_spinner %>
				<% end %>
  	</div>
  </div>

  <div class="col-auto">
  	<div>
  		<span class="fz-12">Cant find something?</span>
  	</div>
  	<div>
  		<a  class="fz-12" data-toggle="modal" data-target="#newCategoryModal" >Add a new categorys.</a>
  	</div>
  </div>
</div>


<div class="my-5 p-3 border rounded position-relative" id="explore-item-container">
		<%= render(
			partial: 'list',
			locals: { categories: @categories }
		) %>
</div>

<input type="hidden" id="exploreCategories" name="exploreCategories">

<%= render 'new_category_modal' %>

<!-- Felipe to do: change the js code to the right file -->
<script type="text/javascript">
	var exploreCategories = window.localStorage.getItem('exploreCategories');
	if(exploreCategories){
		exploreCategories = JSON.parse(exploreCategories);
	}else{
		exploreCategories = {categories:[]};
	}
	exploreCategories.categories.forEach(cat=>{
		$("#explorerCat-"+cat).removeClass('btn-success').addClass('btn-outline-dark').text('Added');
	});
	setExploreCategories();

	$('.addExploreBtnn').on('click', function () {
	  // alert("Clicked  ");
	  var id = this.id;
	  id = id.split("-")[1];
	  var isSelected = $(this).hasClass("btn-outline-dark");
	  if(isSelected){
	  	unselecCategory(id);
	  }else {
	  	selectCategory(id);
	  }
	  setExploreCategories();

	})


	function selectCategory(category){
		addCategory(category);
		$("#explorerCat-"+category).removeClass('btn-success').addClass('btn-outline-dark').text('Added');
	}

	function unselecCategory(category){
		deleteCategory(category);
		$("#explorerCat-"+category).removeClass('btn-outline-dark').addClass('btn-success').text('Add');
	}

	function addCategory(category){
		var array = window.localStorage.getItem('exploreCategories');
		if(array){
			array = JSON.parse(array);
		}else{
			array = {categories:[]};
		}
		array.categories.push(category);
		window.localStorage.setItem('exploreCategories', JSON.stringify(array));
	}
	function deleteCategory(category){
		var array = window.localStorage.getItem('exploreCategories');
		if(array){
			array = JSON.parse(array);
		}else{
			array = {categories:[]};
		}

		array.categories = array.categories.filter(cat=>{
			return cat!=category;
		});
		window.localStorage.setItem('exploreCategories', JSON.stringify(array));
	}

	function setExploreCategories(){
		/*this function keeps updating the value of the hidden tag
		to use it anytime in the backend*/
		var array = window.localStorage.getItem('exploreCategories');
		if(array){
			array = JSON.parse(array);
		}else{
			array = {categories:[]};
		}
		console.log(array);
      document.getElementById("exploreCategories").value = array;
	}
</script>
