<p class="font-weight-bold">
	Skills
</p>

<!--  search container -->
<div class="row">
  <div class="col">
  	<div class="input-group custom-from-group">
        <!-- <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div> -->

        <!-- <input type="text" class="form-control" placeholder="Oil painting, 3D printing, Electric cars etc."> -->
				<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit' } do |f| %>
					<div>
						Search
						<%= f.text_field(
							:search_query,
							class: 'filterrific-periodically-observed form-control',
							placeholder: 'Oil painting, 3D printing, Electric cars etc.'
						) %>
					</div>

					<div>
						<%= link_to(
							'Reset filters',
							reset_filterrific_url,
						) %>
					</div>
					<%= render_filterrific_spinner %>
				<% end %>
  	</div>
  </div>

  <div class="col-auto">
  	<div>
  		<span class="fz-12">Cant find something?</span>
  	</div>
  	<div>
  		<a href="#" data-toggle="modal" data-target="#newCategoryModal" class="fz-12">Add a new categorys.</a>
  	</div>
  </div>
</div>

<!-- guiding container -->
<div class="my-5 p-3 border rounded position-relative" id="guiding-item-container">
			<%= render(
				partial: 'listg',
				locals: { categories: @categories }
			) %>
</div>


<%= form_for(@guide) do |f| %>

	<input type="hidden" id="guideCategories" name="guideCategories">
	<input type="hidden" name="first_signup" value="true" >

	<div class="form-row justify-content-end mb-5" id="action-buttons">
		<a class="btn btn-outline-dark p-2 mr-3" href="/profile/explores">Prev</a>

		<button class="btn btn-success p-2 next-button" type="submit" >Next</button>
	</div>
<%end%>

<%= render 'new_category_modal' %>
