<!-- <div class="profile-page">
	
</div> -->
<div class="profile-navbar">
    <%= render 'landing/navbar' %>
</div>

<div class="page-wrapper default-theme sidebar-bg bg1 toggled profileActive">
    
    <%= render 'profiles/side_bar' %>
    <!-- page-content  -->
    <main class="page-content">
        <div id="overlay" class="overlay"></div>
        <div class="mainContent">
            <i id="responsiveMenu" class="material-icons">more_vert</i>
            <%= render 'profile_profile' %>
            <%= render 'memberview_profile' %>
        </div>
    </main>
    <!-- page-content" -->
</div>

<%= render 'reviews_modal' %>
<%= render 'create_project' %>
<%= render 'edit_project' %>
<%= render 'editprofile' %>
<%= render 'add_category_guest' %>
<%= render 'new_category_modal' %>


