<!--<p id="notice"><%= notice %></p>
<%= @profile.country %>
<%= @profile.bio %>
<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
-->
<%= render 'memberview_profile' %>
