<script src="/javascripts/signaling-server.js" type="text/javascript"></script>
<div class="container"> 
  <div class="gridSessionMain">

    <%= image_tag('icon.png', :class => 'img-fluid w-100') %>

    <%= render 'pre_session' %>


  </div>  
<%= render 'in_session' %>

















      <hr />

      <button onclick="handleJoinSession()">
      Join Room
      </button>

      <button onclick="handleLeaveSession()">
      Leave Room
      </button>

      <button data-toggle="modal" data-target="#preRunningLate">pre runnin late</button>
      <button data-toggle="modal" data-target="#preRunningLateSent">pre runnin late sent</button>

      <button data-toggle="modal" data-target="#preCancelationWarning">Pre cancelation warning</button>
      <%= link_to 'Cancellation view', "/sessions/1/cancellation" , :class => 'btn btn-info mt-1' %>
    </div>

  </div>

      <button data-toggle="modal" data-target="#preCancelationWarning">Pre cancelation warning</button>
      <button data-toggle="modal" data-target="#modalChat">Chat</button>
      <button data-toggle="modal" data-target="#modalRespuesta">respuesta</button>         

      <button data-toggle="modal" data-target="#preCancelationWarning">Pre cancelation warning</button> 
      <button data-toggle="modal" data-target="#modalPre5">Pre five minutes</button>       

</div>


<%= render 'pre_running_late' %>
<%= render 'pre_5min' %>
<%= render 'pre_running_late_sent' %>
<%= render 'pre_cancellation_warning' %>
<%= render 'end_times_up.html' %>
<%= render 'pre_5min.html' %>
