<main class="container">
  <section class="my-5">
    <h3 class="my-4">Top Explorers</h3>

    <div class="card-slider owl-carousel">
      <div class="custom-card card-normal my-3" >
        <div class="has-bg" style="background-image: url(<%= image_path('Skills/math.jpg') %>);">
          <div class="top-images">
            <img src="<%= image_path('flags/united-states.png') %>" alt="">
            <img src="<%= image_path('eng.jpeg') %>" alt="">
          </div>

        <div class="texts-wrap">
          <h5 class="text-white">Math</h5>
        </div>

        <div class="bottom-image">
          <img src="<%= image_path('People/man-945481_640.jpg') %>" alt="">
        </div>
      </div>

      <h5 class="text-right">Abed Alley</h5>
      <div class="text-right">
        <div class="rateYo d-inline-block p-0"></div>

        <span class="d-inline-block star-counter">43</span>
      </div>
    </div>

    <div class="custom-card card-normal my-3" >
      <div class="has-bg" style="background-image: url(<%= image_path('Skills/code-1084923_640.png') %>);">
        <div class="top-images">
          <img src="<%= image_path('flags/united-states.png') %>" alt="">
          <img src="<%= image_path('eng.jpeg') %>" alt="">
        </div>

      <div class="texts-wrap">
        <h5 class="text-white">Coding</h5>
      </div>

      <div class="bottom-image">
        <img src="<%= image_path('People/asian-square.jpg') %>" alt="">
      </div>
    </div>

    <h5 class="text-right">Chris Morrie</h5>
    <div class="text-right">
      <div class="rateYo d-inline-block p-0"></div>

      <span class="d-inline-block star-counter">453</span>
    </div>
  </div>

  <div class="custom-card card-normal my-3" >
      <div class="has-bg" style="background-image: url(<%= image_path('Skills/guitar-1836655_640.jpg') %>);">
        <div class="top-images">
          <img src="<%= image_path('flags/united-states.png') %>" alt="">
          <img src="<%= image_path('eng.jpeg') %>" alt="">
        </div>

      <div class="texts-wrap">
        <h5 class="text-white">Guitar</h5>
      </div>

      <div class="bottom-image">
        <img src="<%= image_path('People/asian-square.jpg') %>" alt="">
      </div>
    </div>

    <h5 class="text-right">Rafael Keech</h5>
    <div class="text-right">
      <div class="rateYo d-inline-block p-0"></div>

      <span class="d-inline-block star-counter">453</span>
    </div>
  </div>

      <div class="custom-card card-normal my-3" >
        <div class="has-bg" style="background-image: url(<%= image_path('Skills/retro-4237850_640.jpg') %>);">
          <div class="top-images">
            <img src="<%= image_path('flags/united-states.png') %>" alt="">
            <img src="<%= image_path('eng.jpeg') %>" alt="">
          </div>

          <div class="texts-wrap">
            <h5 class="text-white">Retro</h5>
          </div>

          <div class="bottom-image">
            <img src="<%= image_path('People/a.jpg') %>" alt="">
          </div>
        </div>

        <h5 class="text-right">Ramaeshwar</h5>
        <div class="text-right">
          <div class="rateYo d-inline-block p-0"></div>

          <span class="d-inline-block star-counter">453</span>
        </div>
      </div>


      <div class="custom-card card-normal my-3" >
        <div class="has-bg" style="background-image: url(<%= image_path('Skills/ballet.jpg') %>);">
          <div class="top-images">
            <img src="<%= image_path('flags/united-states.png') %>" alt="">
            <img src="<%= image_path('eng.jpeg') %>" alt="">
          </div>

          <div class="texts-wrap">
            <h5 class="text-white">Ballet</h5>
          </div>

          <div class="bottom-image">
            <img src="<%= image_path('People/asian-square.jpg') %>" alt="">
          </div>
        </div>

        <h5 class="text-right">Raf Abed</h5>
        <div class="text-right">
          <div class="rateYo d-inline-block p-0"></div>

          <span class="d-inline-block star-counter">453</span>
        </div>
      </div>
    </div>
  </section>
</main>
