<div class="site-section block-13 border-bottom" id="section-favourites">

  <div class="container" style="margin-top: 25px">
    <div class="text-left pb-1 mb-4">
      <h2 class="text-primary">Here are some favourites</h2>
    </div>

    <div class=" slide-one-item home-slider owl-carousel nonloop-block-13">
      <div>
        <a href="#" class="unit-1 text-center">
          <img src="<%= image_path('img_1.jpg') %>" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <h3 class="unit-1-heading">Tourism</h3>
          </div>
        </a>
      </div>

      <div>
        <a href="#" class="unit-1 text-center">
          <img src="<%= image_path('img_2.jpg') %>" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <h3 class="unit-1-heading">Delivery</h3>
          </div>
        </a>
      </div>

      <div>
        <a href="#" class="unit-1 text-center">
          <img src="<%= image_path('img_3.jpg') %>" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <h3 class="unit-1-heading">Packaging</h3>
          </div>
        </a>
      </div>

      <div>
        <a href="#" class="unit-1 text-center">
          <img src="<%= image_path('img_4.jpg') %>" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <h3 class="unit-1-heading">Driving</h3>
          </div>
        </a>
      </div>

      <div>
        <a href="#" class="unit-1 text-center">
          <img src="<%= image_path('img_5.jpg') %>" alt="Image" class="img-fluid">
          <div class="unit-1-text">
            <h3 class="unit-1-heading">Technology</h3>
          </div>
        </a>
      </div>


    </div>
  </div>

</div>
