<footer class="site-footer"style="background-image: url(<%= image_path('footer/footer-graphic-left.png') %>),url(<%= image_path('footer/footer-graphic-right.png') %>), linear-gradient(#000, #333)">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4 mr-auto my-3">
            <h6 class="footer-heading mb-2 fz-14 text-white">About Us</h6>
            <p class="fz-14 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam iure deserunt ut architecto dolores quo beatae laborum aliquam ipsam rem impedit obcaecati ea consequatur.</p>
          </div>
          
          <div class="col-md-7 row my-3">
            <div class="col-6">
              <h6 class="footer-heading mb-2 fz-14 text-white">Quick Links</h6>
              <ul class="list-unstyled">
                <li class="mr-sm-2 mr-md-0"><a class="text-white fz-14" href="#">About Us</a></li>
                <li class="mr-sm-2 mr-md-0"><a class="text-white fz-14" href="#">Services</a></li>
                <li class="mr-sm-2 mr-md-0"><a class="text-white fz-14" href="#">Testimonials</a></li>
                <li class="mr-sm-2 mr-md-0"><a class="text-white fz-14" href="#">Contact Us</a></li>
              </ul>
            </div>

            <div class="col-6">
              <h6 class="footer-heading mb-2 fz-14 text-white">Follow Us</h6>
              <a href="https://www.facebook.com/1oh1edu" target=“_blank” class="pr-3 fz-14 text-white">
                <img width="30px" src="<%= image_path('facebook.svg') %>" alt="facebook">
              </a>
              <a href="https://twitter.com/1oh1edu" target=“_blank” class="pr-3 fz-14 text-white">
                <img width="30px" src="<%= image_path('twitter.svg') %>" alt="twitter">
              </a>
              <a href="https://www.instagram.com/1oh1edu/" target=“_blank” class="pr-3 fz-14 text-white">
                <img width="30px" src="<%= image_path('instagram.svg') %>" alt="instagram">
              </a>
              <a href="https://www.linkedin.com/company/1oh1edu/" target=“_blank” class="pr-3 fz-14 text-white">
                <img width="30px" src="<%= image_path('linkedin.svg') %>" alt="linkedin">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 my-3">
        <h6 class="footer-heading mb-2 fz-14 text-white">Subscribe Newsletter</h6>
        <form action="#" method="post">
          <div class="input-group mb-3">
            <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn custom-btn-outline-primary" type="button" id="button-addon2">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="text-center mt-4">
      <p class="text-white fz-14">
        <small class="block">&copy; Copyright<script>document.write(new Date().getFullYear());</script> All rights reserved by&nbsp<a href="#">1oh1</a></small>
      </p>
    </div>

<!--    <div class="row pt-5 mt-5 text-center">-->
<!--      <div class="col-md-12">-->
<!--        <div class="border-top pt-5">-->
<!--          <p>-->
<!--            <small class="block">&copy; Copyright<script>document.write(new Date().getFullYear());</script> All rights reserved by&nbsp<a href="#">1oh1</a></small>-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
  </div>
</footer>