<main class="container">
  <section class="my-5">
    <h3 class="my-4">Top Guides</h3>

    <div class="card-slider owl-carousel">
      <div class="custom-card card-normal my-3" >
        <div class="has-bg" style="background-image: url(<%= image_path('Skills/business-3152586_640.jpg') %>);">
          <div class="top-images">
            <img src="<%= image_path('flags/united-states.png') %>" alt="">
            <img src="<%= image_path('eng.jpeg') %>" alt="">
          </div>

        <div class="texts-wrap">
          <h5 class="text-white">Business</h5>
        </div>

        <div class="bottom-image">
          <img src="<%= image_path('People/asian-square.jpg') %>" alt="">
        </div>
      </div>

      <h5 class="text-right">Paras Gaur</h5>
      <div class="text-right">
        <div class="rateYo d-inline-block p-0"></div>

        <span class="d-inline-block star-counter">453</span>
      </div>
    </div>

    <div class="custom-card card-normal my-3" >
      <div class="has-bg" style="background-image: url(<%= image_path('Skills/pure-843893_640.jpg') %>);">
        <div class="top-images">
          <img src="<%= image_path('flags/united-states.png') %>" alt="">
          <img src="<%= image_path('eng.jpeg') %>" alt="">
        </div>

      <div class="texts-wrap">
        <h5 class="text-white">Pure</h5>
      </div>

      <div class="bottom-image">
        <img src="<%= image_path('People/man.jpg') %>" alt="">
      </div>
    </div>

    <h5 class="text-right">Asthon Ostrander</h5>
    <div class="text-right">
      <div class="rateYo d-inline-block p-0"></div>

      <span class="d-inline-block star-counter">253</span>
    </div>
  </div>

  <div class="custom-card card-normal my-3" >
      <div class="has-bg" style="background-image: url(<%= image_path('Skills/cigar-3768640_640.jpg') %>);">
        <div class="top-images">
          <img src="<%= image_path('flags/united-states.png') %>" alt="">
          <img src="<%= image_path('eng.jpeg') %>" alt="">
        </div>

      <div class="texts-wrap">
        <h5 class="text-white">Cigar</h5>
      </div>

      <div class="bottom-image">
        <img src="<%= image_path('People/adult.jpg') %>" alt="">
      </div>
    </div>

    <h5 class="text-right">Raf Abed</h5>
    <div class="text-right">
      <div class="rateYo d-inline-block p-0"></div>

      <span class="d-inline-block star-counter">43</span>
    </div>
  </div>

      <div class="custom-card card-normal my-3" >
        <div class="has-bg" style="background-image: url(<%= image_path('Skills/Woodworking.png') %>);">
          <div class="top-images">
            <img src="<%= image_path('flags/united-states.png') %>" alt="">
            <img src="<%= image_path('eng.jpeg') %>" alt="">
          </div>

          <div class="texts-wrap">
            <h5 class="text-white">Woodworking</h5>
          </div>

          <div class="bottom-image">
            <img src="<%= image_path('People/asian-square.jpg') %>" alt="">
          </div>
        </div>

        <h5 class="text-right">Rachael</h5>
        <div class="text-right">
          <div class="rateYo d-inline-block p-0"></div>

          <span class="d-inline-block star-counter">153</span>
        </div>
      </div>


      <div class="custom-card card-normal my-3" >
        <div class="has-bg" style="background-image: url(<%= image_path('Skills/poly.jpg') %>);">
          <div class="top-images">
            <img src="<%= image_path('flags/united-states.png') %>" alt="">
            <img src="<%= image_path('eng.jpeg') %>" alt="">
          </div>

          <div class="texts-wrap">
            <h5 class="text-white">Photoshop</h5>
          </div>

          <div class="bottom-image">
            <img src="<%= image_path('People/asian-square.jpg') %>" alt="">
          </div>
        </div>

        <h5 class="text-right">Tina Roy</h5>
        <div class="text-right">
          <div class="rateYo d-inline-block p-0"></div>

          <span class="d-inline-block star-counter">653</span>
        </div>
      </div>
    </div>
  </section>
</main>
