<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <i class="material-icons js-menu-toggle">close</i>
    </div>
  </div>
  <div class="site-mobile-menu-body">
  </div>
</div>


<header class="site-navbar py-3 js-site-navbar site-navbar-target" role="banner" id="site-navbar">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-11 col-xl-2 site-logo">
        <%# if user_signed_in? %>
          <a href="/"><img src="<%= image_path('icon.png') %>" alt="Image" class="icon-nav "></a>
        <%# else %>
<!--          <h1 class="mb-0"><a href="/" class="text-white h2 mb-0">1oh1</a></h1>-->
        <%# end %>

      </div>
      <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
            <% if user_signed_in? %>
              <li><%= text_field_tag :what,nil,class: 'form-control what',placeholder: 'Search' %></li>
              <li><a href="/markets" class="nav-link">Market</a></li>
              <li><a href="/guides" class="nav-link">Guide</a></li>
              <li><a href="/explores" class="nav-link">Explore</a></li>
              <!-- <li><a href="/messages" class="nav-link">Messages</a></li> -->
              <% if current_user.admin? %>
                <li><a href="/categories" class="nav-link">Categories</a></li>
                <li><a href="/products" class="nav-link">Products</a></li>
              <% end %>
              <!-- notification bell with counts -->
              <li class="has-children">
                <a id= "notification">
                  <i class="material-icons icons notificationsIcon">notifications</i>

                  <span id="unread_count" class="notification-count">100</span>
                </a>
                <ul class="dropdown" id="nav-data">
                  <!-- Real time data updates (AJAX and ActionCable Rails) -->
                </ul>
              </li>
              <!-- More Options-->
              <li >
              <div class="dropdownImg has-children">
                <a  href="/profiles" class="" style="decoration:none">
                  <img  class="profileTopbar" src="<%= image_path('People/man-2517015_640.jpg') %>">
                </a>
                <div class="dropdown-menu drop-Bottom dropdown">
                    <a class="txtLog">  <%= link_to "Log out", destroy_user_session_path, :method => :delete, :class=>"logtxt" %> </a>
                </div>


              </div>
                <!-- <ul class="dropdown">
                  <li><a href="/profiles" class="nav-link">Profile</a></li>
                  <li><a href="/accounts" class="nav-link">Account</a></li>
                  <li><a href="/helps" class="nav-link">Help</a></li>
                  <li><a href="#" class="nav-link">Refer a friend</a></li>
                  <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
                </ul> -->
              </li>
            <% else %>
              <li><a href="#section-search" class="nav-link">Search</a></li>
              <li><a href="#section-favourites" class="nav-link">Favourites</a></li>
              <li><a href="#section-popular" class="nav-link">Popular</a></li>
              <li><a href="#section-guides" class="nav-link">Guides</a></li>
              <li><a href="#section-explorers" class="nav-link">Explore</a></li>
              <li><a class="nav-link cd-signin">Login</a></li>
            <% end %>

          </ul>
        </nav>
      </div>



      <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle"><i class="material-icons">menu</i></a></div>

    </div>

  </div>
  </div>

</header>
