<div class='inSession'>  
  <div class="roomContent"><!--Content--></div>
  <div class="toolsIconsSession sessionHide">
  	<div class="sessionIconsMenuCont">  		
  		<img src="<%= image_path('Icons/iconsmenu.png')  %>" class="sessionIconsMenu">
  	</div>
    <div class="partnerName">
      <div>
        Felipe Ascencio
        <div class="timeRemaining">
          <div>
            10:34
          </div>
          <div>
            Remaining
          </div>
        </div>
      </div>        
    </div>    
    <div class="transparent1oh1">
      <img src="<%= image_path('iconT.png')  %>" class="transparent1oh1Icon">
    </div>
  	<div class="sessionIconsNoVideoCont">
  		<img src="<%= image_path('Icons/nvideo.png')  %>" class="sessionIconsNoVideo">
  	</div>
    <div class="sessionIconsEndCallCont">
      <img src="<%= image_path('Icons/endCallW.png')  %>" class="sessionIconsEndCall">
    </div>
  	<div class="sessionIconsMuteCont">
  		<img src="<%= image_path('Icons/mute.png')  %>" class="sessionIconsMute">
  	</div>
  	<div class="sessionIconsScreenSharingCont">
  		<img src="<%= image_path('Icons/screensharing.png')  %>" class="sessionIconsScreenSharing">
  	</div>
    <div class="sessionIconsExpandCont">
      <img src="<%= image_path('Icons/expand.png')  %>" class="sessionIconsExpand">
    </div>
  </div>  
  <div class="partnerWindow">
    <img src="<%= image_path('People/a.jpg')  %>" class="partnerWindowView">
  </div>
</div>

<script type="text/javascript">
	var timedelay = 1;
	var _delay = setInterval(delayCheck, 500);

	$('.inSession').on('mousemove', showAllEvent);

	function delayCheck() {
	  if (timedelay == 5) {
	    $('.sessionHide').removeClass('showSessionBar');
	    timedelay = 1;
	  }
	  timedelay = timedelay + 1;
	}

	function showAllEvent() {
	  $('.sessionHide').addClass('showSessionBar');
	  timedelay = 1;
	  clearInterval(_delay);
	  _delay = setInterval(delayCheck, 500);
	}
</script>