<div class="container bookings-container">
    <h4 class="mb-5 bookings-main-header font-weight-bold">
      My Booking
      <button type="button"
              id="bookingsCalendarToggle"
              class="btn rounded-0 btn-outline-secondary mx-3 float-right d-lg-none">Calendar</button>
    </h4>
    <div class="row">
      <div class="col-12 col-lg-9">
        <header class="bookings-tab">
          <div id="material-tabs">
              <a id="tab1-tab" href="#tab1" class="active">1 Pending</a>
              <a id="tab2-tab" href="#tab2">4 Upcoming</a>
              <a id="tab3-tab" href="#tab3">15 Previous</a>
              <span class="yellow-bar"></span>
          </div>
        </header>

      <div class="tab-content custom-table">
        <div id="tab1">
          <div id="bookings-pending-btn-content" class="border mt-5">
            <div class="response-wrap text-right border p-3">
              <div class="progress-circle d-inline-block align-middle mt-2 mr-2" id="bookings-circle">
              </div>
              <span class="secondary-success-color fz-14 align-middle">80% response rate</span>
            </div>
            <div class="content-wrap border p-3">
              <div>
                <img width="40px" class="rounded-circle mr-2 active" src="<%= image_path('person_6.jpg') %>" alt="avatar">

                <span class="font-weight-bold fz-14">subject</span> - <span class="fz-14">Guitar with Claire Johnston</span>

                <span class="float-right fz-14 mt-1">
                  <span>Sept 22</span>
                  <span>8:00PM - 8:30PM</span>
                  <span class="font-weight-bold">+120 <img width="25px" src="<%= image_path('coin.png') %>" alt="coin"></span>
                </span>
              </div>
              <p class="fz-14 my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident similique mollitia alias necessitatibus, error voluptatum voluptas fugiat quibusdam incidunt quae!</p>

              <div>
                <button type="button" class="btn rounded-0 btn-primary">Approve</button>
                <button type="button" class="btn rounded-0 btn-outline-secondary mx-3">Decline</button>
                <button type="button" class="btn rounded-0 btn-outline-secondary">Respond</button>
              </div>
            </div>
          </div>
        </div>
        <div id="tab2">
          <table id="bookings-upcomming-btn-content" class="table table-condensed table-hover table-striped mt-5">
            <thead>
              <tr>
                <th class="has-sort-icon secondary-success-color">Type</th>
                <th class="has-sort-icon active date-time-column">date and times</th>
                <th>Companion</th>
                <th>Details</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td class="secondary-success-color">Explored</td>
                  <td>
                    <span>JULY 22, 2019</span>
                    <br>
                    <span>8:00PM - 8:30PM</span>
                  </td>
                  <td class="avatar text-center">
                    <img width="40px" src="<%= image_path('person_6.jpg') %>" alt="avatar">
                    <br>
                    <span>name</span>
                  </td>
                  <td>
                    <span>-20, <img width="25px" src="<%= image_path('coin.png') %>" alt="coin"></span>

                    
                    <br>
                    <div class="booking-description">
                      <span class="font-weight-bold">subject</span> - <span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit.">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                    </div>
                  </td>
                  <td>
                    <a class="secondary-success-color" href="#">Message</a>
                    <br>
                    <a class="secondary-success-color" href="#">Change or Cancel</a>
                    <br>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
        <div id="tab3">
          <table id="bookings-previous-btn-content" class="table table-condensed table-hover table-striped mt-5">
              <thead>
                <tr>
                  <th class="has-sort-icon secondary-success-color">Type</th>
                  <th class="has-sort-icon active date-time-column">date and times</th>
                  <th>Companion</th>
                  <th>Details</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="secondary-success-color">Explored</td>
                  <td>
                    <span>JULY 22, 2019</span>
                    <br>
                    <span>8:00PM - 8:30PM</span>
                  </td>
                  <td class="avatar text-center">
                    <img width="40px" src="<%= image_path('person_6.jpg') %>" alt="avatar">
                    <br>
                    <span>name</span>
                  </td>
                  <td>
                    <span>-20, <img width="25px" src="<%= image_path('coin.png') %>" alt="coin"></span>

                    <span>subject</span>
                    <br>
                    <div class="rateYo d-inline-block p-0 my-2"></div>
                    <div class="booking-description">
                      <span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit.">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                    </div>
                  </td>
                  <td>
                    <a class="secondary-success-color" href="#">Send Tip</a>
                    <br>
                    <a class="secondary-success-color" href="#">Message</a>
                    <br>
                    <a class="secondary-success-color" href="#">Re-book</a>
                    <br>
                  </td>
                </tr>
                <tr>
                  <td class="success-color">Guided</td>
                  <td>
                    <span>JULY 22, 2019</span>
                    <br>
                    <span>8:00PM - 8:30PM</span>
                  </td>
                  <td class="avatar text-center">
                    <img width="40px" src="<%= image_path('person_6.jpg') %>" alt="avatar">
                    <br>
                    <span>name</span>
                  </td>
                  <td>
                    <span>-20, <img width="25px" src="<%= image_path('coin.png') %>" alt="coin"></span>

                    <span>subject</span>
                    <br>
                    <div class="rateYo d-inline-block p-0 my-2"></div>
                    <div class="booking-description">
                      <span title="Lorem ipsum dolor sit amet, consectetur adipisicing elit.">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                    </div>
                  </td>
                  <td>
                    <a class="secondary-success-color" href="#">Send Tip</a>
                    <br>
                    <a class="secondary-success-color" href="#">Message</a>
                    <br>
                    <a class="secondary-success-color" href="#">Re-book</a>
                    <br>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>

      <div class="custom-calendar-modal-shadow d-b d-lg-none"></div>
      <div class="col-12 col-lg-3 custom-calendar-wrap">
        <div class="custom-calendar-modal-toolbar d-b d-lg-none">
          <button type="button" class="btn btn-link float-right close-button">
            <i class="material-icons">close</i>
          </button>
        </div>
        <div class="booking-calendar custom-calendar m-2 mt-5 m-lg-0 mt-lg-5">
          <div class="check">

          </div>
          <button type="button" class="btn btn-link fz-13 px-0 mt-4">
            Calendars
          </button>
        </div>
      </div>
    </div>
  </div>