<div class="container bookings-container">
    <h4 class="mb-5 bookings-main-header font-weight-bold">
      My Booking
      <button type="button"
              id="bookingsCalendarToggle"
              class="btn rounded-0 btn-outline-secondary mx-3 float-right d-lg-none">Calendar</button>
    </h4>
    <div class="row">
      <div class="col-12 col-lg-9">
        <header class="bookings-tab">
          <div id="material-tabs">
              <a id="tab1-tab" class="tab1-tabBooking" href="#tab1" class="active"><%= @pending_bookings.count %> Pending</a>
              <a id="tab2-tab" class="tab2-tabBooking" href="#tab2"><%= @upcoming_bookings.count %> Upcoming</a>
              <a id="tab3-tab" class="tab3-tabBooking" href="#tab3"><%= @completed_bookings.count %> Completed</a>
              <span class="yellow-bar"></span>
          </div>
        </header>

        <div class="tab-content custom-table">
          <div id="tab1">
            <%= render 'pending_bookings'%>
          </div>
          <div id="tab2">
            <%= render 'upcoming_bookings'%>
          </div>
          <div id="tab3">
            <%= render 'previous_bookings'%>
          </div>
        </div>
      </div>
    </div>
  </div>
