<div class='roomBG'>  
asd
  <div class="roomContent"><!--Content--></div>
  <div class="toolsIcons isHide">
  	<div>
  		<a href="">
  			<img src="<%= image_path('Icons/mic.png')  %>" class="callIcons">
  		</a>
  	</div>
  	<div>
  		<a href="">
  			<img src="<%= image_path('Icons/endCall.png')  %>" class="callIcons">
  		</a>
  	</div>
  	<div>
  		<a href="">
  			<img src="<%= image_path('Icons/noVideo.png')  %>" class="callIcons">
  		</a>
  	</div>
  	<div>
  		<a href="">
  			<img src="<%= image_path('Icons/shareScreen.png')  %>" class="callIcons">
  		</a>
  	</div>
  </div>
  <div class='roomBar'>
  	<div class="roomTitle">Logo Design</div>
  	<div class="withPersonPic">
  		<img src="<%= image_path('People/adult-2449725_640.jpg')  %>" class="withPic">
  	</div>
  	<div class="withPerson">With James Douglas</div>
  	<div class="roomStatus">In room</div>
  	<div class="roomTime">
  		Starts in <div class="startsRoomTime">0:58</div>
  	</div>
  	<div class="roomJoinButton">
  		<button class="btnJoinRoom">Join</button>
  	</div>
  </div>
</div>