<div class="wrapCardSession">
    <div class="card container sessionCardCustom">
        <div class="card-body">
            <div class="containerSessionVid">
                <%= image_tag('People/women.jpg', :class => 'img-fluid') %>
                <div class="toolsIcons isHide customPreSession">
                    <div class="icon-1">
                        <a href="">
                            <img src="<%= image_path('Icons/mic.png')  %>" class="callIcons">
                        </a>
                    </div>
                    <div class="icon-2">
                        <a href="">
                            <img src="<%= image_path('Icons/noVideo.png')  %>" class="callIcons">
                        </a>
                    </div>
                    <div class="icon-3">
                        <a href="">
                            <%= image_tag('Icons/menu-points.png') %>
                        </a>
                    </div>
                </div>
            </div>
            <div class="optionsSession">
                <span class="textBottomVid">Ready to join?</span>
                <div class="buttonsOptions">
                    <button class="btn btnSmall direction-l">Join</button>
                    <button class="btn btnBig">Running late!</button>
                    <button class="btn btnSmall direction-r">Cancel</button>
                </div>
                <h6 class="timeDetails">Starting in:<span class="time">01:03</span></h6>
            </div>
        </div>
        <div class="card-footer">
            <div class="userDetails">
                <%= image_tag('People/pretty-2111498_640.jpg', :class => 'img-fluid') %>
                <div class="details">
                    <h4 class="title">Logo Design</h4>
                    <span class="descriptionSession">with Dan Black</span>
                </div>
            </div>
            <div class="sessionDetails">
                <span class="desc-top">Your role: Explorer</span>
                <span class="desc-bottom">Duration: 30 Minutes</span>
            </div>
        </div>
    </div>
</div>
