<%= render 'landing/navbar' %>

<div class="page-wrapper default-theme sidebar-bg bg1 toggled sessionsActive">

    <%= render 'profiles/side_bar' %>
    <!-- page-content  -->
    <main class="page-content">
        <div id="overlay" class="overlay"></div>
        <div class="mainContent">
            <i id="responsiveMenu" class="material-icons">more_vert</i>
            <%= render 'my_sessions' %>
        </div>
    </main>
    <!-- page-content" -->
</div>

<%= render 'bookingsApproveDialog' %>
<%= render 'decline_booking' %>
<%= render 'sendTipDialog' %>
<%= render 'calendars/changeOrCancelDialogBox' %>
<%= render 'calendars/changeSendRequestDialogBox' %>
<%= render 'calendars/cancelDialogBox' %>
