<!-- TEMP TO SHOWCASE (PRE-IN-POST)SESSIONS UI -->
<%= render 'pre_session' %>



<div class="modalDemoButtons">
  
           

  <button data-toggle="modal" data-target="#modalPre5">Five minutes</button>
  <button data-toggle="modal" data-target="#modalChat">pre runnin late</button>
  <button data-toggle="modal" data-target="#modalFrom">pre runnin late sent</button>
  <button data-toggle="modal" data-target="#preCancelationWarning">Pre cancelation warning</button>
  <button data-toggle="modal" data-target="#modalSent">Sent</button>

</div>

<%= render 'pre_5min' %>
<%= render 'pre_running_late' %>
<%= render 'pre_running_late_sent' %>
<%= render 'pre_cancellation_warning' %>
<%= render 'sent_modal' %>
