<script src="/javascripts/signaling-server.js" type="text/javascript"></script>
<h1>Video Session Page</h1>
Peer_id: <%= @other_profile.id %>
Booking_id: <%= @booking.id %>
End time: <%= local_time(@end,'%B %e, %Y %l:%M %P') %>

<h2 id="demo"></h2>

<div class="container">
<div class="row">
  <div class="col-md-8">
    <h1>Video Conferencing</h1>

    <div>User ID:
    <span id="current-user"><%= params[:profile_id] %></span>
    <span id="session_id" hidden><%= params[:id] %></span>
    </div>

    <div id="remote-video-container"></div>
    <video id="local-video" autoplay></video>

    <hr />

    <button onclick="handleJoinSession()">
    Join Room
    </button>

    <button onclick="handleLeaveSession()">
    Leave Room
    </button>

  </div>
</div>
</div>
