<%= form_tag payment_index_path do %>
  <article>

    <div class="container">

      <div class="gridSessionMain">

        <%= image_tag('icon.png', :class => 'img-fluid w-100') %>
    
        <%= render 'pre_session' %>

      </div>  
    
    
      <div>
        <button data-toggle="modal" data-target="#preCancelationWarning">Pre cancelation warning</button>
        <button data-toggle="modal" data-target="#modalChat">Chat</button>
        <button data-toggle="modal" data-target="#modalFrom">respuesta</button>         
    
        <button data-toggle="modal" data-target="#modalPre5">Pre five minutes</button>
        <button data-toggle="modal" data-target="#preRunningLate">pre runnin late</button>
        <button data-toggle="modal" data-target="#preRunningLateSent">pre runnin late sent</button>
    
      </div>
    
      <%= render 'pre_running_late' %>
      <%= render 'pre_5min' %>
      <%= render 'pre_running_late_sent' %>
      <%= render 'pre_cancellation_warning' %>
    
      <%= render 'pre_5min.html' %>


    </div>

  </article>

<% end %>

<script>
  jQuery(document).ready(function($) {
    console.log('sadsad')
    var timedelay = 1;
	var _delay = setInterval(delayCheck, 500);

	$('.containerSessionVid').on('mousemove', showAllEvent);
	function delayCheck() {
	  if (timedelay == 5) {
	    $('.isHide').removeClass('showRoomBar');
	    timedelay = 1;
	  }
	  timedelay = timedelay + 1;
	}

	function showAllEvent() {
	  $('.isHide').addClass('showRoomBar');
	  timedelay = 1;
	  clearInterval(_delay);
	  _delay = setInterval(delayCheck, 500);
	}
})
</script>

