<%= form_tag payment_index_path do %>
<article>
  <% if flash[:error].present? %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
  <% end %>
  <label class="amount">
  <span>Amount: $50</span>
  </label>
</article>
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-amount="5000"
  data-name="1oh1.org"
  data-description="Voyager Subscription"
  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
  data-label="Buy Now"
  data-locale="auto"></script>

<% end %>
<%= render 'pre_session' %>
<%= render 'pre_in_room' %>
<div class="modalDemoButtons">
  
           

  <button data-toggle="modal" data-target="#modalPre5">Five minutes</button>
  <button data-toggle="modal" data-target="#modalChat">pre runnin late</button>
  <button data-toggle="modal" data-target="#modalFrom">pre runnin late sent</button>
  <button data-toggle="modal" data-target="#preCancelationWarning">Pre cancelation warning</button>
  <button data-toggle="modal" data-target="#modalSent">Sent</button>

</div>

<%= render 'pre_5min' %>
<%= render 'pre_running_late' %>
<%= render 'pre_running_late_sent' %>
<%= render 'pre_cancellation_warning' %>
<%= render 'sent_modal' %>
