<%= render 'landing/navbar' %>
<%= render 'search' %>
<div class="site-section border-bottom" id="section-search">
  <div class="container" style="margin-top: 25px">

    <div class="row mb-5">
      <div class="col-md-12 order-md-1" data-aos="fade-up">

        <div class="text-left pb-1 mb-4">
          <h2>Find the time that works for you</h2>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <%= text_field_tag :what,nil,class: 'form-control what my-2',placeholder: 'Anything' %>
              </div>
              <div class="col-md-3">
                <%= text_field_tag :availability,nil,class: 'form-control availability my-2',placeholder: 'Availability', "data-provide" => 'datepicker'  %>
              </div>
              <div class="col-md-3">
                <%= text_field_tag :duration,nil,class: 'form-control duration my-2',placeholder: 'Duration' %>
              </div>
              <div class="col-md-2">
                <%= submit_tag("Search",:id=>"submit", :class=>'btn btn-secondary py-2 px-4 text-white') %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<%= render 'landing/footer' %>
