<div id="projects-container">
  <div class="mb-5 mt-2 p-3 border rounded position-relative">
    <% if @projects.blank? %>
          <div class="gridProfileActivity">
            <div class="titleactivityProfile">
              <span class="titleYetAdd">Nothing added yet</span>
            </div>
            <div class="gridImgActivity">
              <div class=""></div>
              <div class="">
                <img src="<%= image_path('Icons/yet.png') %>" alt="Image" class="imgYet">
              </div>
              <div class=""></div>
            </div>
          </div>

    <% else %>
    	<% @projects.each do|project| %>
    		<div class="row">
    			<div class="col-6 position-relative">
    				<img width="100%"
    					 height="200px"
    					 class="rounded"
    					 src="<%= image_path('Skills/poly.jpg')%>" alt="poly">

    				<img class="project_status" src="<%= image_path('Icons/project_status.png')%>" alt="status">
    			</div>
    			<div class="col-6">
    				<h5 class="font-weight-bold">
    					<%= project.name %>
    					<button data-toggle="modal" data-target="#projectsModal" data-val="<%=project.to_json%>" data-project="<%=project.categories.to_json%>" id="transferval" type="button" class="btn btn-link">
    						<img src="<%= image_path('Icons/edit.png')%>"
    							 width="24px"
    							 alt="status">
    					</button>
    				</h5>
    				<h6 class="mt-1 font-weight-bold fz-13">Description</h6>
    				<p class="fz-12"><%= project.description %></p>

    				<h6 class="mt-2 font-weight-bold fz-13">Skills</h6>
    				<p class="fz-12">
              <% project.categories.pluck(:name).each do |name| %>
              <div class="base-chips d-inline-block p-1">
                <div class="base-chips-name fz-13">
                  <%= name %>
                </div>
              </div>
              <%end%>
            </p>
    			</div>
    		</div>
    	<% end %>
    <%end%>
  </div>
</div>
<script type="text/javascript">
  $( "#editProject" ).submit(function( event ) {
    alert( "Handler for .submit() called." );
    event.preventDefault();
  });

  $(document).on("click","#transferval",function(){
  		var project = $(this).data('val');
      var categories = $(this).data('project');
      list =[]
      categories.forEach(myFunction);
       function myFunction(item, index)
       {
           list.push(item.id);
       }

      $('#project_name').val(project.name);
      $('#project_description').val(project.description);
      $('#edit-project-hidden-collaborators').val(project.colab_id);
      $('#edit-project-hidden-categories').val(list);

  		$("#edit-project-raido-"+String(project.status)).prop("checked", true);



    //   $("form#editProject").submit(function() {
    //     var id = project.id
    //     console.log(mydata); // it's only for test
    //     // $.ajax({
    //     //     type: "PUT",
    //     //     url: "myUrlToPostData.php",
    //     //     data: mydata,
    //     //     success: function(response, textStatus, xhr) {
    //     //         console.log("success");
    //     //     },
    //     //     error: function(xhr, textStatus, errorThrown) {
    //     //         console.log("error");
    //     //     }
    //     // });
    //     return false;
    // });
  })

</script>
