<%= javascript_include_tag 'personal_calendar.js' %>

<div class="container calendar-page-container">
	<div class="row mt-4">
		<div class="col-8">
			<h3><b>Calendar</b></h3>

        	<h6>Edit your calednar</h6>
		</div>
		<div class="col-4">
			<div class="row">
				<div class="block-margin-center">
					<button type="button" class="btn btn-link pending-btn mr-lg-4">
						Pending
					</button>
					<button type="button" class="btn btn-link exploring-btn">
						Exploring
					</button>
				</div>
				<div class="block-margin-center">
					<button type="button" class="btn btn-link guiding-btn mt-4 mr-lg-4">
						Guiding
					</button>
					<button type="button" class="btn btn-link unavailable-btn mt-4">
						Unavailable
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row border-top mt-4">
	  <div class="col-8 timeline-calendar-wrap">
	  	<div>
	  		<div class="btn-group" class="timeline-calendar-view-controller">
			  <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <i class="material-icons">more_vert</i>
			  </button>
			  <div class="dropdown-menu">
			    <a class="dropdown-item active" href="#" id="daily">Daily</a>
			    <a class="dropdown-item" href="#" id="weekly">Weekly</a>
			    <a class="dropdown-item" href="#" id="monthly">Monthly</a>
			  </div>
			</div>
	  	</div>
	    <div class="personal-timeline-calendar"></div>
	  </div>
	  <div class="col-4 border-left p-0">
	  	<div class="very-custom-calendar-wrap">
	  		<div class="calendar-current-date text-center mt-4">
	  			<span class="month-placeholder"></span>
	  			<span class="day-placeholder"></span>
	  		</div>
	  		<div class="months-wrap mt-4">
	  			<button type="button" id="month-1" class="btn btn-link month">January</button>

	  			<button type="button" id="month-2" class="btn btn-link month">February</button>

	  			<button type="button" id="month-3" class="btn btn-link month">March</button>

	  			<button type="button" id="month-4" class="btn btn-link month">April</button>

	  			<button type="button" id="month-5" class="btn btn-link month">May</button>

	  			<button type="button" id="month-6" class="btn btn-link month">June</button>

	  			<button type="button" id="month-7" class="btn btn-link month">July</button>

	  			<button type="button" id="month-8" class="btn btn-link month">August</button>

	  			<button type="button" id="month-9" class="btn btn-link month">September</button>

	  			<button type="button" id="month-10" class="btn btn-link month">October</button>

	  			<button type="button" id="month-11" class="btn btn-link month">November</button>

	  			<button type="button" id="month-12" class="btn btn-link month">December</button>
	  		</div>
			<!-- custom calendar -->
	  		<div class="personal-very-custom-calendar"></div>
	  	</div>

		<!-- today events -->
  		<div class="event-list-wrap">
  			<ul class="event-list">
  				<li class="event">
  					<span class="event-icon has-next">
  						<i class="material-icons">check_circle_outline</i>
  					</span>
  					<span class="event-line-through-text">Call with somebody</span>
  				</li>
  				<li class="event">
  					<span class="event-icon has-next">
  						<i class="material-icons">check_circle_outline</i>
  					</span>
  					<span class="event-line-through-text">Call with somebody</span>
  				</li>
  				<li class="event">
  					<span class="event-icon has-next">14:00</span>
  					<span>Call with somebody else</span>
  				</li>
  				<li class="event">
  					<span class="event-icon">17:00</span>
  					<span>Call with somebody else</span>
  				</li>
  			</ul>
  		</div>
	  </div>
	</div>
</div>


<!-- time conflict dialog dialog -->
<div class="modal fade" id="newEventTimeConflict" tabindex="-1" role="dialog" aria-labelledby="newEventTimeConflict" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-body">
        <div class="time-conflict-icon mt-3">
            <i class="material-icons">close</i>
        </div>
        <h3 class="mt-3"><b>Time conflict</b></h3>
        <p class="mt-2">
            You are trying to book a session that conflicts with another. Please select a new time, or review <a href="">your calendar</a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id='remote_container'></div>
<!-- change or cancel dialog box -->
<%= render 'changeOrCancelDialogBox' %>

<!-- cancel dialog box -->
<%= render 'cancelDialogBox' %>

<!-- error dialog -->
<%= render 'timeConflictDialogBox' %>

<!-- change send request -->
<%= render 'changeSendRequestDialogBox' %>

<!-- canceled dialog box -->
<%= render 'canceledDialogBox' %>

<!-- booking confrim -->
<%= render 'bookingConfirmDialogBox' %>

<!-- booking pending confirm -->
<%= render 'bookingPendingDialogBox' %>

<!-- profile pending confrim -->
<%= render 'profileCalendarUnavailableDialogBox' %>

<!-- profile recurring unavailable -->
<%= render 'profileCalendarRecurringUnavailableDialogBox' %>

<!-- edit event more option dialog box -->
<%= render 'bookingEditEventMoreOptionDialog' %>
