<% content_for :javascript_includes do %>
  <%= javascript_include_tag "calendars" %>
<% end %>

<% content_for :css_includes do %>
  <%= stylesheet_link_tag "calendars" %>
<% end %>

<div class="profile-navbar">
    <%= render 'landing/navbar' %>
</div>

<div class="page-wrapper default-theme sidebar-bg bg1 toggled calendarActive">

    <%= render 'profiles/side_bar' %>
    <!-- page-content  -->
    <main class="page-content">
        <div id="overlay" class="overlay"></div>
        <div class="mainContent" id="calendarMain">
            <!-- <i id="responsiveMenu" class="material-icons">more_vert</i> -->
            <%= render 'calendar' %>
        </div>
    </main>
    <!-- page-content" -->
</div>
