<div class="site-section border-bottom" id="section-popular">
<div class="container" style="margin-top: 25px">

  <div class="row mb-5">
    <div class="col-md-12 order-md-1" data-aos="fade-up">

      <div class="text-left pb-1 mb-4">
        <h2 class="text-primary" id="country">Popular in your Country</h2>
      </div>

      <div class="row popular">
        <%if @popular_incountry.blank? %>
        Update your Country
        <%else%>
        <% @popular_incountry.each do |category|%>
          <div class="col text-center">
            <div class="custom-card card-small my-3">
              <%= link_to category_path(category.name.downcase) do %>
                <div class="has-bg"  style="background-image: url(<%= category.url %>);">
                  <div class="texts-wrap">
                    <div class="main-text"><%= category.name %></div>
                    <!-- <div class="sub-text">editing</div> -->
                  </div>
                </div>
              <%end%>
            </div>
          </div>
        <% end %>
        <%end%>

      </div>

    </div>
  </div>
  <hr>

  <div class="text-left pb-1 mb-4">
    <h2 class="text-primary">Popular around the World</h2>
  </div>

  <div class="row popular">
    <%@popular_inworld.each do |category|%>
      <div class="col text-center">
        <div class="custom-card card-small my-3">
          <%= link_to category_path(category.name.downcase) do %>
            <div class="has-bg"  style="background-image: url(<%= category.url %>);">
              <div class="texts-wrap">
                <div class="main-text"><%= category.name %></div>
                <!-- <div class="sub-text">editing</div> -->
              </div>
            </div>
          <%end%>
        </div>
      </div>
    <%end%>
  </div>

</div>
</div>
<script>
  document.getElementById("country").innerHTML = "Popular in " + geoplugin_countryName();

</script>
