<section class="my-5">
  <h3 class="my-5 c-black">Top Explores for <%= @first_category_name_explore%></h3>

  <div class="row my-4" id="mainCategoryExplore">
    <% if @first_category_explore.empty? %>
      <h6 class="my-7 c-black">No Guides Available</h6>
    <% else %>
      <% @first_category_explore.each do |explorer|%>
        <%= link_to explore_path(explorer.id) do %>
          <div class="col categoryExploreItem">
            <div class="minimal-card-wrap text-left">
              <div class="minimal-card border animating">
                <div class="avatar center animating"
                     style="background-image: url(<%= explorer.profile.profile_photo %>);"></div>
                <div class="avatar-shadow center"
                     style="background-image: url(<%= image_path('avatar-shadow.png') %>);"></div>
                <div class="cover"
                     style="background-image: url(<%= explorer.category.url %>);"></div>
                <h5><%= explorer.profile.user.firstname %>&nbsp; <%= explorer.profile.user.lastname %></h5>
                <h6><%= explorer.profile.state %> , <%= explorer.profile.country %></h6>
                <div class="rateYo d-inline-block p-0 my-2"></div>
                <span class="align-bottom fz-13">246</span>
              </div>
            </div>
          </div>
        <%end%>
      <%end%>
    <%end%>
  </div>

  <div class="upcomingBookingsLinks gridLinksShow">
    <a class="gridLessLink" id="showLessCategoryExplore">Less</a>
    <div class="showMoreLessMessage" id="categoryExploreMessage">
      Showing x of y items
    </div>
    <a class="gridMoreLink" id="showMoreCategoryExplore">More</a>
  </div>
</section>
