<%= render 'landing/navbar' %>
<div class="section">
    <%= render 'cover' %>
    <main class="container">
      <%= render 'popular'%>
      <%= render 'top_explorers' %>
    </main>
</div>

<%= render 'landing/footer' %>
