<div class="explore-container-wrap">
<%= render 'landing/navbar_unauth' %>
	<section class="page-banner text-center position-relative py-5"
			 style="background-image: url(<%= @explore.category.url %>);">
	</section>

	<div class="container explore-container">
		<h1 class="mt-4 mt-xl-5">
			<%= @explore.category.name %>
		</h1>

		<p class="mt-3 d-sm-none d-xl-block">
			<%= @explore.category.description %>
		</p>

		<div class="explore-guy mt-3 mt-xl-5">
			<div class="explore-guy-avatar"
				 style="background-image: url(<%= image_path('People/asian-square.jpg') %>);">
			</div>

			<div class="explore-guy-name ml-2 ml-lg-3">
				<%= @explore.profile.user.firstname %> <%= @explore.profile.user.lastname %>
			</div>
			<% if user_signed_in? %>
				<%= link_to "Message" ,user_chats_path(current_user, :other_user => @explore.profile_id), method: :post, class: "btn btn-success explore-guy-book-btn"  %>
			<%else%>
				<%= link_to "Message" ,nil,class: "secondary-success-color"  %>
			<%end%>
			<!--<%= link_to 'Book', reserve_calendar_path(explore_id: @explore.id ), class: 'btn btn-success explore-guy-book-btn'%>-->
		</div>

		<div class="mt-3 mt-xl-4">
	      <div id="material-tabs">
	          <a id="category-tab1-tab" href="#tab1" class="active"><strong><%= @explore.profile.explores.count %></strong><br> Explorers</a>
	          <a id="category-tab2-tab" href="#tab2"><strong><%= @explore.profile.guides.count %></strong> <br> Guides</a>
	          <a id="category-tab3-tab" href="#tab3"><strong><%= @explore.profile.projects.count %></strong> <br> Projects</a>
	          <span class="yellow-bar"></span>
	      </div>
		</div>

		<div class="tab-content">
	    	<div id="tab1">
	    		<div class="mt-3 mt-lg-4">
	    			<div class="text-sm-center text-xl-left">
							<div id="" class="rateYoCustom d-inline-block p-0" starsSize="small" rating="<%= average_rating(@explore,nil)[:explore_rating] %>"></div>

	    				<span class="ml-3 explores-reviews-count"><%= average_rating(@explore,nil)[:explore_count] %> Reviews</span>
	    			</div>
						<% @explore_ratings.each do |rating|%>
		    			<div class="explores-review my-5">
		    				<div class="explores-review-profile-pic"
		    					 style="background-image: url(<%= rating.profile.profile_photo %>);">
		    				</div>

							<p>
								"<%=rating.review%>"
							</p>
		    			</div>
						<%end%>
	    		</div>
			</div>
	    	<div id="tab2">
					<div class="mt-3 mt-lg-4">
	    			<div class="text-sm-center text-xl-left">
							<div id="" class="rateYoCustom d-inline-block p-0" starsSize="small" rating="<%= average_rating(@explore,nil)[:guide_rating] %>"></div>

	    				<span class="ml-3 explores-reviews-count"><%= average_rating(@explore,nil)[:guide_count] %> Reviews</span>
	    			</div>

						<% @guide_ratings.each do |rating|%>
		    			<div class="explores-review my-5">
		    				<div class="explores-review-profile-pic"
		    					 style="background-image: url(<%= rating.profile.profile_photo %>);">
		    				</div>

							<p>
								"<%=rating.review%>"
							</p>
		    			</div>
						<%end%>
	    		</div>
	    	</div>
	    	<div id="tab3">
	    	</div>
	    </div>
	</div>

</div>


<%= render 'landing/footer' %>
