<p id="notice"><%= notice %></p>
<%= @explore.id %>
<%= @explore.profile_id %>
<hr/>
Category:: <%= @explore.category.id%>,<%= @explore.category.name%>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Calendar</h1>
      <div class="calendar">
        <div class="check">
          <%= @explore.id %>,explore
        </div>
      </div>
      <div id='remote_container'></div>
    </div>
  </div>
</div>
