<p id="notice"><%= notice %></p>
<%= @explore.id %>
<%= @explore.profile_id %>
<hr/>
Category:: <%= @explore.category.id%>,<%= @explore.category.name%>

  <!-- <button type="button" class="btn btn-primary">Create Booking</button> -->
  <%= link_to 'Create Booking', reserve_calendar_path(explore_id: @explore.id )%>
