<div id="filterrific_results_guides">
  <!-- <div>
    <%= page_entries_info guides, entry_name: "prof" %>
  </div> -->
    <h4 class="mt-5 font-weight-bold">Top Guides for <%= @category.name %></h4>
    <table class="table table-condensed table-hover table-striped mt-5">
          <tbody>
            <% if guides.blank? %>
              No Guides available
            <%else%>
              <% guides.each do |guide| %>
                <tr>
                    <td class="avatar text-center">
                      <img class="large" width="40px" src="<%= image_path('person_6.jpg') %>" alt="avatar">
                    </td>

                    <td>
                      <span class="font-weight-bold"><%= guide.profile.user.firstname %> <%= guide.profile.user.lastname %></span>
                      <br>
                      <span><%= guide.profile.city %>, <%= guide.profile.country%></span>
                      <br>
                      <span>English</span>
                    </td>
                    <td width="150px">
                      <span class="align-middle">Explore Rating: </span>
                      <br>
                      <span class="align-middle">Baking Rating:</span>
                    </td>
                    <td>
                      <div id="" class="rateYoCustom d-inline-block p-0" starsSize="small" rating="2"></div>
                      <br>
                      <div id="" class="rateYoCustom d-inline-block p-0" starsSize="small" rating="4"></div>
                    </td>
                    <td>
                      <%= link_to 'Book', reserve_calendar_path(guide_id: guide.id ),class: "btn btn-primary px-3 py-1"%>

                      <br>
                      <% if user_signed_in? %>
                        <%= link_to "Message" ,user_chats_path(current_user, :other_user => guide.profile_id),method: :post, class: "secondary-success-color"  %>
                      <%else%>
                        <%= link_to "Message" ,nil,class: "secondary-success-color"  %>
                      <%end%>
                      <br>
                      <%= link_to 'Profile', profile_path(guide.profile_id ),class: "secondary-success-color"%>

                      <br>
                    </td>
                  </tr>
                <% end %>
              <% end %>
          </tbody>
        </table>

            <!-- <button type="button" class="btn btn-link fz-13 px-0 mt-4 see-more">
            See more
          </button> -->

          <%= will_paginate guides,:container => false  %>

</div>
