<div class="gridBaking">
    <div class="gridSortBy">
        <div class=""></div>
        <div class="borderSort">
            <span class="sortyBy">Sort by:</span>
        </div>
        <div class="borderSort"><a href="#" class="btnSoryBtS">All</a></div>
        <div class="borderSort"><a href="#" class="btnSoryBt">Popular</a></div>
        <div class="borderSort"><a href="#" class="btnSoryBt">Recent</a></div>
        <div class="borderSort"><a href="#" class="btnSoryBt">Ideas</a></div>
        <div class="borderSort"><a href="#" class="btnSoryBt">In-Progress</a></div>
        <div class="borderSort"><a href="#" class="btnSoryBt">Completed</a></div>
        <div class="borderSort"></div>
    </div>
    <div class="topSearch"></div>
    <div class="gridProjectSearch">
        <div class=""></div>
        <div class="col">
                <div class="project-card">
                    <div class="image-container"
                         style="background-image: url(<%= image_path('Section/workshop.jpg') %>);">
                    </div>
                    <div class="headline px-4 mt-1">
                        Project Title
                    </div>
                    <div class="headline-subtitle px-4 my-1">
                        Project Owners-name
                    </div>
                    <div class="avatars avatars-wrap px-4 mt-2">
                        <div class="avatar"
                             style="background-image: url(<%= image_path('Section/workshop.jpg') %>);"></div>

                             <div class="avatars">
                                 <div class="avatar"
                                 style="background-image: url(<%= image_path('Section/workshop.jpg') %>);"></div>
                                 <div class="avatars">
                                     <div class="avatar"
                                         style="background-image: url(<%= image_path('Section/workshop.jpg') %>);"></div>
                                         <div class="avatars">
                                             <div class="avatar"
                                                 style="background-image: url(<%= image_path('Section/workshop.jpg') %>);"></div>
                                         </div>
                                 </div>
                             </div>
                    </div>
                    <div class="tags px-4 mb-4">
                        Tag, Tag
                    </div>
                </div>
            </div>
            <div class="col">
                    <div class="project-card">
                        <div class="image-container"
                             style="background-image: url(<%= image_path('Section/workshop.jpg') %>);">
                        </div>
                        <div class="headline px-4 mt-1">
                            Project Title
                        </div>
                        <div class="headline-subtitle px-4 my-1">
                            Project Owners-name
                        </div>
                        <div class="avatars avatars-wrap px-4 mt-2">
                            <div class="avatar"
                                 style="background-image: url(<%= image_path('Section/workshop.jpg') %>);"></div>

                                 <div class="avatars">
                                     <div class="avatar"
                                     style="background-image: url(<%= image_path('Section/workshop.jpg') %>);"></div>
                                     <div class="avatars">
                                         <div class="avatar"
                                             style="background-image: url(<%= image_path('Section/workshop.jpg') %>);"></div>
                                             <div class="avatars">
                                                 <div class="avatar"
                                                     style="background-image: url(<%= image_path('Section/workshop.jpg') %>);"></div>
                                             </div>
                                     </div>
                                 </div>
                        </div>
                        <div class="tags px-4 mb-4">
                            Tag, Tag
                        </div>
                    </div>
                </div>
                <div class="col">
                        <div class="project-card">
                            <div class="image-container"
                                 style="background-image: url(<%= image_path('Section/workshop.jpg') %>);">
                            </div>
                            <div class="headline px-4 mt-1">
                                Project Title
                            </div>
                            <div class="headline-subtitle px-4 my-1">
                                Project Owners-name
                            </div>
                            <div class="avatars avatars-wrap px-4 mt-2">
                                <div class="avatar"
                                     style="background-image: url(<%= image_path('Section/workshop.jpg') %>);"></div>

                                     <div class="avatars">
                                         <div class="avatar"
                                         style="background-image: url(<%= image_path('Section/workshop.jpg') %>);"></div>
                                         <div class="avatars">
                                             <div class="avatar"
                                                 style="background-image: url(<%= image_path('Section/workshop.jpg') %>);"></div>
                                                 <div class="avatars">
                                                     <div class="avatar"
                                                         style="background-image: url(<%= image_path('Section/workshop.jpg') %>);"></div>
                                                 </div>
                                         </div>
                                     </div>
                            </div>
                            <div class="tags px-4 mb-4">
                                Tag, Tag
                            </div>
                        </div>
                    </div>

    </div>
</div>
