<%= render 'landing/navbar' %>

<section class="page-banner text-center position-relative py-5" style="background-image: url(<%= @category.url %>);">
</section>

<div class="container">
	<div class="row">
		<div class="col-12 col-lg-8">
			<h1 class="mt-5 font-weight-bold"><%= @category.name %></h1>
			<h5 class="my-4"><%= @category.description %>
				<button type="button"
	              id="categoryCalendarToggle"
	              class="btn rounded-0 btn-outline-secondary mx-3 float-right d-lg-none">Calendar</button>
			</h5>

			<header class="mt-5 category-tabs">
	          <div id="material-tabs">
	              <a id="category-tab1-tab" href="#tab1" class="active">Explorers</a>
	              <a id="category-tab2-tab" href="#tab2">Guides</a>
	              <a id="category-tab3-tab" href="#tab3">Projects</a>
	              <span class="yellow-bar"></span>
	          </div>
      		</header>

			<%= form_for_filterrific @filterrific do |f| %>
					<div>
					Country
					<%= f.select(:with_country_name, @filterrific.select_options[:with_country_name],{ include_blank: '- Any -' }) %>
					</div>
					<div>
						<%= link_to('Reset filters',reset_filterrific_url) %>
  				</div>
					<%= render_filterrific_spinner %>
			<% end %>
		    <div class="tab-content custom-table category-tab-content">
		    	<div id="tab1">
		    		<%= render partial: 'categories/explorers',locals: { profiles: @profiles }%>
					</div>
		    	<div id="tab2">
		    	</div>
		    	<div id="tab3">
						<%= render 'search_project' %>
		    	</div>
		    </div>
		</div>
	</div>
</div>

<%= render 'landing/footer' %>
