<section class="my-5">
  <h3 class="my-5 c-black">Top Explores in English</h3>

  <div class="row my-4">
    <div class="col">
      <div class="minimal-card-wrap text-left">
        <div class="minimal-card border animating">
          <div class="avatar center animating"
               style="background-image: url(<%= image_path('People/asian-square.jpg') %>);"></div>
          <div class="avatar-shadow center"
               style="background-image: url(<%= image_path('avatar-shadow.png') %>);"></div>
          <div class="cover"
               style="background-image: url(<%= image_path('Skills/ballet.jpg') %>);"></div>
          <h5>GORDON HARRINGTON</h5>
          <h6>Northern Mariana Islands</h6>
          <div class="rateYo d-inline-block p-0 my-2"></div>
          <span class="align-bottom fz-13">246</span>
        </div>
      </div>
    </div>
    <div class="col">      
      <div class="minimal-card-wrap text-center">
        <div class="minimal-card border animating">
          <div class="avatar center animating"
               style="background-image: url(<%= image_path('People/asian-square.jpg') %>);"></div>
          <div class="avatar-shadow center"
               style="background-image: url(<%= image_path('avatar-shadow.png') %>);"></div>
          <div class="cover"
               style="background-image: url(<%= image_path('Skills/ballet.jpg') %>);"></div>
          <h5>GORDON HARRINGTON</h5>
          <h6>Northern Mariana Islands</h6>
          <div class="rateYo d-inline-block p-0 my-2"></div>
          <span class="align-bottom fz-13">246</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="minimal-card-wrap text-right">
        <div class="minimal-card border animating">
          <div class="avatar center animating"
               style="background-image: url(<%= image_path('People/asian-square.jpg') %>);"></div>
          <div class="avatar-shadow center"
               style="background-image: url(<%= image_path('avatar-shadow.png') %>);"></div>
          <div class="cover"
               style="background-image: url(<%= image_path('Skills/ballet.jpg') %>);"></div>
          <h5>GORDON HARRINGTON</h5>
          <h6>Northern Mariana Islands</h6>
          <div class="rateYo d-inline-block p-0 my-2"></div>
          <span class="align-bottom fz-13">246</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col">
      <div class="minimal-card-wrap text-left">
        <div class="minimal-card border animating">
          <div class="avatar center animating"
               style="background-image: url(<%= image_path('People/asian-square.jpg') %>);"></div>
          <div class="avatar-shadow center"
               style="background-image: url(<%= image_path('avatar-shadow.png') %>);"></div>
          <div class="cover"
               style="background-image: url(<%= image_path('Skills/ballet.jpg') %>);"></div>
          <h5>GORDON HARRINGTON</h5>
          <h6>Northern Mariana Islands</h6>
          <div class="rateYo d-inline-block p-0 my-2"></div>
          <span class="align-bottom fz-13">246</span>
        </div>
      </div>
    </div>
    <div class="col">      
      <div class="minimal-card-wrap text-center">
        <div class="minimal-card border animating">
          <div class="avatar center animating"
               style="background-image: url(<%= image_path('People/asian-square.jpg') %>);"></div>
          <div class="avatar-shadow center"
               style="background-image: url(<%= image_path('avatar-shadow.png') %>);"></div>
          <div class="cover"
               style="background-image: url(<%= image_path('Skills/ballet.jpg') %>);"></div>
          <h5>GORDON HARRINGTON</h5>
          <h6>Northern Mariana Islands</h6>
          <div class="rateYo d-inline-block p-0 my-2"></div>
          <span class="align-bottom fz-13">246</span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="minimal-card-wrap text-right">
        <div class="minimal-card border animating">
          <div class="avatar center animating"
               style="background-image: url(<%= image_path('People/asian-square.jpg') %>);"></div>
          <div class="avatar-shadow center"
               style="background-image: url(<%= image_path('avatar-shadow.png') %>);"></div>
          <div class="cover"
               style="background-image: url(<%= image_path('Skills/ballet.jpg') %>);"></div>
          <h5>GORDON HARRINGTON</h5>
          <h6>Northern Mariana Islands</h6>
          <div class="rateYo d-inline-block p-0 my-2"></div>
          <span class="align-bottom fz-13">246</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <button type="button" class="btn btn-link show-more-button">Show more</button>
    </div>
  </div>
</section>
