<%= render 'landing/navbar' %>

<div class="section">
    <section class="page-banner text-center py-5" style="background-image: url(<%= image_path('Section/workshop.jpg') %>);">
      <div class="details container text-left">
        <h1 class="mt-3 c-white">Guides</h1>

        <div class="input-group mb-3">
          <input type="text"
                 class="form-control border-secondary text-white bg-transparent custom-search-input"
                 placeholder="People, Projects, Subjects">

          <div class="input-group-append">
            <button class="btn custom-btn-outline-primary" type="button">Search</button>
          </div>
        </div>

        <h3 class="c-white-darker">Around your schedule.</h3>
      </div>
    </section>

    <main class="container">
      <%= render 'popular_in_region'%>
      <%= render 'popular_in_explores'%>
      <%= render 'top_explores'%>
      <%= render 'top_explores_for'%>      
    </main>
</div>

<%= render 'landing/footer' %>
