<div class="explore-container-wrap">
<%= render 'landing/navbar' %>
	<section class="page-banner text-center position-relative py-5"
			 style="background-image: url(<%= @guide.category.url %>);">
	</section>

	<div class="container explore-container">
		<h1 class="mt-4 mt-xl-5">
			<%= @guide.category.name %>
		</h1>

		<p class="mt-3 d-sm-none d-xl-block">
			<%= @guide.category.description %>
		</p>

		<div class="explore-guy mt-3 mt-xl-5">
			<div class="explore-guy-avatar"
				 style="background-image: url(<%= image_path('People/asian-square.jpg') %>);">
			</div>

			<div class="explore-guy-name ml-2 ml-lg-3">
				<%= @guide.profile.user.firstname %> <%= @guide.profile.user.lastname %>
			</div>

			<%= link_to 'Book', reserve_calendar_path(guide_id: @guide.id ), class: 'btn btn-success explore-guy-book-btn'%>
		</div>

		<div class="mt-3 mt-xl-4">
	      <div id="material-tabs">
	          <a id="category-tab1-tab" href="#tab1" class="active"><strong><%= @guide.profile.explores.count %></strong><br> Explorers</a>
	          <a id="category-tab2-tab" href="#tab2"><strong><%= @guide.profile.guides.count %></strong> <br> Guides</a>
	          <a id="category-tab3-tab" href="#tab3"><strong><%= @guide.profile.projects.count %></strong> <br> Projects</a>
	          <span class="yellow-bar"></span>
	      </div>
		</div>

		<div class="tab-content">
	    	<div id="tab1">
	    		<div class="mt-3 mt-lg-4">
	    			<div class="text-sm-center text-xl-left">
							<div id="" class="rateYoCustom d-inline-block p-0" starsSize="small" rating="<%= average_rating(@guide,nil)[:explore_rating] %>"></div>


	    				<span class="ml-3 explores-reviews-count"><%= average_rating(@guide,nil)[:explore_count] %> Reviews</span>
	    			</div>

						<% @explore_ratings.each do |rating|%>
		    			<div class="explores-review my-5">
		    				<div class="explores-review-profile-pic"
		    					 style="background-image: url(<%= rating.profile.profile_photo %>);">
		    				</div>

							<p>
								"<%=rating.review%>"
							</p>
		    			</div>
						<%end%>

	    		</div>
			</div>
	    	<div id="tab2">
					<div class="mt-3 mt-lg-4">
	    			<div class="text-sm-center text-xl-left">
							<div id="" class="rateYoCustom d-inline-block p-0" starsSize="small" rating="<%= average_rating(@guide,nil)[:guide_rating] %>"></div>


	    				<span class="ml-3 explores-reviews-count"><%= average_rating(@guide,nil)[:guide_count] %> Reviews</span>
	    			</div>
						<% @guide_ratings.each do |rating|%>
		    			<div class="explores-review my-5">
		    				<div class="explores-review-profile-pic"
		    					 style="background-image: url(<%= rating.profile.profile_photo %>);">
		    				</div>

							<p>
								"<%=rating.review%>"
							</p>
		    			</div>
						<%end%>

	    		</div>
	    	</div>
	    	<div id="tab3">
	    	</div>
	    </div>
	</div>

</div>


<%= render 'landing/footer' %>
