<p id="notice"><%= notice %></p>
<%= @guide.id %>
<%= @guide.profile_id %>
<hr/>
Category:: <%= @guide.category.id%>,<%= @guide.category.name%>

  <!-- <button type="button" class="btn btn-primary">Create Booking</button> -->
  <%= link_to 'Create Booking', reserve_calendar_path(guide_id: @guide.id )%>
