<div class="cell searchContainer">
    <div class="searchHelp grid">
        <div class="cell">
            <div class="searchReview grid">
                <div class="cell searchReview">
                    <div class="searchCont">
                        <i class="material-icons  md-36 searchIcon d-block">search</i><input type="text"
                            placeholder="Search" class="searchInput">
                    </div>
                </div>
                <div class="sortBy">
                    <div class="cell sortByText">Sort by</div>
                    <div class="cell">
                        <div class="dropdownTitle ">
                            <select>
                                <option>Most recent</option>
                                <option>Rating ascending</option>
                                <option>Rating descending</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="help grid">
                <div class="tab-content custom-table">
                    <div id="tab-learn" class="">
                        <div class="cell helpText">Help <%= @info.profile.user.firstname %> Learn <%= @info.category.name %></div>
                        <div class="cell">
                          <%= link_to "Book" , reserve_calendar_path(explore_id: @info.id ),class: "button"%>
                          <!-- <button class="button">Book</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cell">
    <div class="reviews grid">
      <% if @explore_ratings.nil? %>
        No Explore Ratings Available
      <% else %>
        <% @explore_ratings.each do |rating| %>
            <div class="cell">
                <div class="review grid">
                    <div class="cell">
                        <div class="profile2 grid">
                            <div class="cell perfil"><%= image_tag('People/building-1080605_640.jpg', :class => 'imgperfil') %></div>
                            <div class="cell ratingName"><%= rating.guide.profile.user.firstname %> <%= rating.explore.profile.user.lastname %></div>
                            <%= rating.explore.category.name %>
                            <div class="grid score2">
                                <div id="" class="rateYoCustom d-inline-block p-0" starsSize="normal" rating="4"></div>
                            </div>
                        </div>
                    </div>
                    <div class="cell ratingText">
                      <%= rating.review %>
                    </div>
                </div>
            </div>
          <%end%>
        <%end%>
    </div>
</div>
