<%= render 'landing/navbar' %>
<div class="cell reviewsPage">
        <div class="background">
            <div class="imageProfile">
              <img src="<%= @info.profile.profile_photo %>" class="imgProfile">
            </div>
        </div>
        <div class="cell">
            <div class="data grid">
                <div>
                    <div class="profile grid">
                        <div class="cell"></div>
                        <div class="cell topicTitle"><%= @info.category.name %></div>
                        <div class="cell"></div>
                        <div class="cell withContainer">
                            <div class="headerText">with </div>
                            <div class="autor"><%= @info.profile.user.firstname %> <%= @info.profile.user.lastname %></div>
                        </div>
                    </div>
                </div>
                <div class="cell"></div>
            </div>
        </div>
        <div class="categoryCopy cell headerText"><%= @info.category.description %></div>
        <div class="subtitles" id="material-tabs">
            <div class="cell empty"></div>
            <a id="tab1-tab" href="#tab1" class="cell subtitle active alignmentTab">Explore Rating</a>
            <a id="tab2-tab" href="#tab2" class="cell subtitle alignmentBroTab">Guide Rating</a>
            <span class="green-bar"></span>
            <div class="cell empty"></div>
        </div>
        <div class="cell">
            <div  class="grid rating">
                <div class="cell empty"></div>
                <div class="grid score1 alignmentScore">
                    <div class="cell"><i class="material-icons md-36"> start</i></div>
                    <div class="cell"><i class="material-icons md-36"> start</i></div>
                    <div class="cell"><i class="material-icons md-36"> start</i></div>
                    <div class="cell"><i class="material-icons md-36"> start</i></div>
                    <div class="cell"><i class="material-icons md-36"> start</i></div>
                    <div class="cell rateNumber">14</div>
                </div>
                <div class="grid score1 alignmentBroScore">
                    <div class="cell"><i class="material-icons md-36"> start</i></div>
                    <div class="cell"><i class="material-icons md-36"> start</i></div>
                    <div class="cell"><i class="material-icons md-36"> start</i></div>
                    <div class="cell"><i class="material-icons md-36"> start</i></div>
                    <div class="cell"><i class="material-icons md-36"> start</i></div>
                    <div class="cell rateNumber">21</div>
                </div>
                <div class="cell projectsNumber"></div>
                <div class="cell empty"></div>
            </div>
        </div>
         <div class="tab-content ">
            <div id="tab1" class="reviewTab">
                <%= render 'explore_rating' %>
            </div>
            <div id="tab2" class="reviewTab">
                <%= render 'guide_rating' %>
            </div>
            <div id="tab3" class="reviewTab">
                <%= render 'category_projects' %>
            </div>
        </div>
