<!DOCTYPE html>
<html lang="en">
  <head>
    <title>1oh1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <script language="javascript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase-storage.js"></script>
    <script src="https://js.stripe.com/v3"></script>


    <!-- Fonts and his variations -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Source+Sans+Pro:200,300,400,600,700,900&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/google_analytics' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'headscript' %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type =>  'image/x-icon'  %>
  </head>
  <body>
    <div id="flash">
      <% if flash.present? %>
        <%= render partial: "shared/flash_messages", locals: { flash: flash} %>
      <% end %>
    </div>

    <audio id="notification_sound" preload="none" src="https://firebasestorage.googleapis.com/v0/b/oh1-b365f.appspot.com/o/check.wav?alt=media&token=d214e82d-c59d-4c91-8222-6f8c6e924a8f" muted></audio>

    <%= render 'bookings/bookingsApproveDialog' %>
    <%= yield(:head) %>
    <%= yield %>
  </body>
</html>
